---
import clsx from "clsx";

const { title, reverse, image, path } = Astro.props;
---

<div
  class={clsx(
    "flex justify-evenly gap-12 px-0 lg:px-12",
    reverse ? "flex-col lg:flex-row-reverse" : "flex-col lg:flex-row",
  )}
>
  <div class="flex flex-col gap-4 justify-center">
    <a class="border-b-4 border-secondary-500 text-2xl font-bold mx-auto" href={path}>{title}</a>
    <p class="max-w-lg mx-auto">
      <slot />
    </p>
    <a
      href={path}
      class="border-4 border-secondary-500 rounded-xl py-2 px-4 font-semibold text-primary-500 mx-auto hover:bg-secondary-500 hover:text-white"
    >
      Mas Información
    </a>
  </div>
  <img class="object-cover h-[300px] aspect-video rounded-md object-bottom" src={image} />
</div>
