---
const { title, textancle, link, isActive, label } = Astro.props;
---

<section class="flex flex-col md:pb-8 pb-4 md:mx-40">
  <details>
    <summary
      class="border-4 border-primary-400 rounded-xl py-2 px-4 font-semibold text-primary-900 md:text-xl hover:rounded-xl hover:text-white hover:bg-primary-400"
      >{title}</summary
    >
    <article class="flex justify-items-start flex-col p-4 md:p-8">
      <slot />
      <div class="flex my-2 md:my-4">
        <a
          href={link}
          aria-label={label}
          target={isActive ? "_blank" : null}
          class="text-primary-500 border-b-2 border-primary-500 font-bold lg:text-xl text-lg">{textancle}</a
        >
      </div>
    </article>
  </details>
</section>
