---
import VideoCard from "../all-pages/video-card.astro";
import Documents from "../init-page/documents.astro";
const { title, path } = Astro.props;
---

<section class="grid lg:grid-cols-2 sm:grid-cols-1 border-4 border-primary-500 rounded-lg p-4 lg:gap-2 mb-12">
  <div class=" flex flex-col justify-center text-center">
    <h2 class="lg:text-3xl font-bold text-primary-500">{title}</h2>
    <p class="p-4 lg:text-xl">
      <slot />
    </p>
    <button
      class=" hidden border-4 border-secondary-500 rounded-xl py-2 px-4 font-semibold text-primary-500 mx-auto hover:bg-secondary-500 hover:text-white"
      >Más Información</button
    >
  </div>
  <VideoCard title={"Presentación Electiva:  " + title} path={path} />
</section>
