---
const { title, textbutton, link, isActive } = Astro.props;
import Button from "../all-pages/button.astro";
---

<section class="flex flex-col md:pb-8 pb-4">
  <details>
    <summary class="border-4 border-primary-500 rounded-xl py-2 px-4 font-semibold text-primary-900  md:text-xl"
      >{title}</summary
    >
    <article class="flex justify-items-start flex-col p-4 md:p-8 lg:mx-40">
      <slot />
      <div class="flex my-2 md:my-4">
        <Button text={textbutton} link={link} isActive={isActive} < Button />
      </div>
    </article>
  </details>
</section>
