---
const { title, path, isActive } = Astro.props;
---
<article class="grid grid-rows-card border-4 border-primary-400 rounded-lg gap-4 p-4">
  <nav class="flex justify-center">
    <a
      href={path}
      target={isActive ? "_blank" : null}
      class="text-center text-2xl font-bold border-b-4 border-secondary-500"
    >
      {title}
    </a>
  </nav>
  <p>
    <slot />
  </p>
  <a
    href={path}
    target={isActive ? "_blank" : null}
    class="border-4 border-secondary-500 rounded-xl py-2 px-4 font-semibold text-primary-500 mx-auto hover:bg-secondary-500 hover:text-white"
  >
    Más información
  </a>
</article>
