---
import Teachers from "./teachers.astro";
---

<div id="my-keen-slider" class="keen-slider">
  <div class="keen-slider__slide number-slide1">
    <Teachers
      name="Mary Cristina Carrascal Reyes"
      image="/teachers/marycarrascal.webp"
      departament="Telemática"
      email="mcarrascal@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniera en Electrónica y Telecomunicaciones de la Universidad del Cauca (2000).</li>
        <li>Magister en Telemática de la Universidad del Cauca</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide2">
    <Teachers
      name="Oscar Josué Calderón Cortez"
      image="/teachers/oscarcalderon.webp"
      departament="Telecomunicaciones"
      email="oscarc@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1996).</li>
        <li>Especialista en Redes y Servicios Telemáticos de la Universidad del Cauca (1999).</li>
        <li>Magister en Educación mediada por TIC de la Universidad del Norte (2021).</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide3">
    <Teachers
      name="Gustavo Adolfo Gomez Agredo"
      image="/teachers/gustavogomez.webp"
      departament="Telecomunicaciones"
      email="gtgomez@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2010).</li>
        <li>
          Magister en Electrónica y Telecomunicaciones con Énfasis en Fibra Óptica de la Universidad del Cauca (2019).
        </li>
        <li>Especialista en TIC para la Innovación Educativa de la Universidad del Cauca (2020).</li>
      </ul>
    </Teachers>
  </div>

  <div class="keen-slider__slide number-slide4">
    <Teachers
      name="Jesús Mauricio Ramírez Viáfara"
      image="/teachers/mauricioramirez.webp"
      departament="Telecomunicaciones"
      email="jesusramirez@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2009).</li>
        <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2014).</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide5">
    <Teachers
      name="Víctor Fabián Miramá Pérez"
      image="/teachers/victormirama.webp"
      departament="Telecomunicaciones"
      email="vmirama@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2008).</li>
        <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2013).</li>
        <li>Doctor(c) en Ciencias de la Electrónica de la Universidad del Cauca (2022).</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide6">
    <Teachers
      name="Claudia Milena Hernández Bonilla"
      image="/teachers/claudiahernandez.webp"
      departament="Telecomunicaciones"
      email="claudiah@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniera en Electrónica y Telecomunicaciones de la Universidad del Cauca (2004).</li>
        <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2011).</li>
        <li>Doctor(a) en Ciencias de la Electrónica de la Universidad del Cauca (2022).</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide7">
    <Teachers
      name="José Giovanny López Perafán"
      image="/teachers/joselopez.webp"
      departament="Telecomunicaciones"
      email="glopez@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1991).</li>
        <li>Especialista en Docencia Universitaria de la Universidad Cooperativa de Colombia (1998).</li>
        <li>Magister en Telemática de la Universidad del Cauca (2003).</li>
        <li>Doctor en Ciencias de la Electrónica de la Universidad del Cauca (2015).</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide8">
    <Teachers
      name="Pablo Emilio Jojoa Gómez"
      image="/teachers/pablojojoa.webp"
      departament="Telecomunicaciones"
      email="pjojoa@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1993).</li>
        <li>
          Magister en Ingeniería Eléctrica Área Sistemas Electrónicos de la Escuela Politécnica de la Universidad de Sao
          Paulo (1999).
        </li>
        <li>
          Doctor en Ingeniería Eléctrica Área Sistemas Electrónicos de la Escuela Politécnica de la Universidad de Sao
          Paulo (2003).
        </li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide9">
    <Teachers
      name="Mario Fernando Solarte Sarasty"
      image="/teachers/mariosolarte.webp"
      departament="Telemática"
      email="msolarte@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2009).</li>
        <li>Maestría en Ingeniería Telemática de la Universidad del Cauca.</li>
        <li>Doctorado en Ingeniería Telemática de la Universidad del Cauca.</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide10">
    <Teachers
      name="María Manuela Silva Zambrano"
      image="/teachers/manuela.webp"
      departament="Telecomunicaciones"
      email="mariasilva@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniera en Electrónica y Telecomunicaciones de la Universidad del Cauca (2015).</li>
        <li>Especialista en TIC para la innovación Educativa de la Universidad del Cauca(2021).</li>
        <li>Magister en Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2022).</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide11">
    <Teachers
      name="Catalina Muñoz Collazos"
      image="/teachers/catalina.webp"
      departament="Telecomunicaciones"
      email="catalinamunoz@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniera en Electrónica y Telecomunicaciones de la Universidad del Cauca (2012)</li>
        <li>Especialista en Redes y Servicios Telemáticos de la Universidad del Cauca (2014)</li>
        <li>Magister en Telecomunicaciones de la Universidad del Cauca (2019)</li>
      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide12">
    <Teachers
      name="Diego Fernando Galvis Calambas"
      image="/teachers/galvis.webp"
      departament="Telecomunicaciones"
      email="dgalvis@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2008)</li>
        <li>Magister en Telecomunicaciones de la Universidad del Cauca (2022)</li>

      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide13">
    <Teachers
      name="Francisco Javier Terán Cuarán"
      image="/teachers/perfil_m.webp"
      departament="Telecomunicaciones"
      email="fteran@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Ingeniero en Electrónica de la Universidad del Cauca (1983)</li>
        <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (1993)</li>

      </ul>
    </Teachers>
  </div>
  <div class="keen-slider__slide number-slide14">
    <Teachers
      name="Harold Armando Romo Romero"
      image="/teachers/perfil_m.webp"
      departament="Telecomunicaciones"
      email="hromo@unicauca.edu.co"
    >
      <ul class="list-disc pl-4">
        <li>Licenciado en Matemáticas de la Universidad de Nariño (1987)</li>
        <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1996)<li>
        <li>Especialista en Redes y Servicios Telemáticos de la Universidad del Cauca (1999)</li>
        <li>Magister en Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca (2008)</li>
      </ul>
    </Teachers>
  </div>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
<script>
  import "keen-slider/keen-slider.min.css";
  import KeenSlider from "keen-slider";
  var animation = { duration: 30000, easing: (t) => t };
  let slider = new KeenSlider("#my-keen-slider", {
    loop: true,
    renderMode: "performance",
    drag: true,
    mode: "snap",
    slides: () => getSlidesConfig(),
    created(s) {
      s.moveToIdx(5, true, animation);
    },
    updated(s) {
      s.moveToIdx(s.track.details.abs + 5, true, animation);
    },
    animationEnded(s) {
      s.moveToIdx(s.track.details.abs + 5, true, animation);
    },
  });

  function getSlidesConfig() {
    if (window.matchMedia("(max-width: 767px)").matches) {
      // Tamaño de diapositivas para dispositivos móviles
      return [
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
        {
          size: 1,
        },
      ];
    } else {
      // Tamaño de diapositivas para pantallas de escritorio
      return [
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
        {
          size: 0.35,
          spacing: 0.01,
        },
      ];
    }
  }

  // Actualizar las diapositivas cuando cambie el tamaño de la ventana
  window.addEventListener("resize", () => {
    slider.destroy();
    slider = new KeenSlider("#my-keen-slider", {
      mode: "snap",
      slides: () => getSlidesConfig(),
    });
  });
</script>
