---
import CalendarIcon from "../icons/calendar-icon.astro";
import GraduateIcon from "../icons/graduate-icon.astro";
import StarIcon from "../icons/star-icon.astro";
import TimeIcon from "../icons/time-icon.astro";
import StartInformation from "./start-information.astro";
---

<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 place-items-center gap-4">
  <StartInformation title="Nivel Académico" description="Pregrado">
    <GraduateIcon />
  </StartInformation>
  <StartInformation
    title="Código SINES"
    description="238"
    link="https://hecaa.mineducacion.gov.co/consultaspublicas/detallePrograma"
  >
    <StarIcon />
  </StartInformation>
  <StartInformation title="Metodología" description="Presencial">
    <TimeIcon />
  </StartInformation>
  <StartInformation title="Admisiones" description="Semestrales" link="https://www.unicauca.edu.co/versionP/pregrado">
    <CalendarIcon />
  </StartInformation>
</section>
