---
const { name, image, type, departament, email, width } = Astro.props;
---

<section
  class="h-full flex-none border-4 border-primary-50 rounded-lg p-4 bg-primary-50 shadow-lg text-center font-semibold mr-2"
>
  <div class="flex flex-col items-center">
    <div class="pb-4">
      <img
        width="192px"
        height="192px"
        class="h-48 w-48 rounded-full shadow-lg"
        src={image}
        alt={"fotografía de" + name}
      />
    </div>
    <h4 class="text-primary-500">{name}</h4>
    <p class="text-primary-900 font-bold">Departemento de {departament}</p>
    <div class="text-start font-normal"><slot /></div>
    <p class="text-primary-900 font-bold">correo: {email}</p>
  </div>
</section>
