---
import Layout from "../component/all-pages/layout.astro";
import Information from "../component/about-page/information.astro";
import Banner from "../component/all-pages/banner.astro";
---

<Layout pathname="/about" title="Acerca del Programa">
  <section class="grid grid-rows-[auto,auto] lg:grid-rows-none lg:grid-cols-2 gap-12 px-0 lg:px-12">
    <div>
      <img src="/fiet-piet.jpg" class="rounded-md object-cover object-bottom w-full h-[300px]" />
    </div>
    <div class="flex flex-col justify-center gap-4">
      <h2 class="text-2xl font-bold">RESEÑA HISTÓRICA</h2>
      <p>
        El programa de Ingeniería Electrónica y Telecomunicaciones pertenece a la facultad de Ingeniería Electrónica y
        Telecomunicaciones de la Universidad del Cauca, la cual fue creada mediante el acuerdo No. 40 del 17 de
        diciembre de 1960, emanado del comité administrativo de la Asociación Colombiana de Universidades y el Fondo
        Universitario Nacional y refrendado por el Ministerio de Educación Nacional el 19 de diciembre de 1960.
      </p>
    </div>
  </section>
  <div class="w-full h-1 bg-secondary-400"></div>
  <section class="flex flex-col gap-12 px-0 lg:px-12">
    <h2 class="text-2xl font-bold">ESTRUCTURA CURRICULAR</h2>
    <div class="grid grid-flow-row lg:grid-cols-2 gap-8">
      <Information title="Área Común: ">
        Se fundamenta en la ciencia y la tecnología. Tiene como objetivo introducir al estudiante en la compatibilidad
        científica de las ciencias formales, las ciencias naturales y las ciencias humanas y sociales. Además, provee al
        estudiante bases requeridas en áreas como la Física y las Matemáticas y, a su vez, brindar la fundamentación
        necesaria en asignaturas como la Electrónica, Informática y Telecomunicaciones.
      </Information>
      <Information title="Área Transversal">
        Estimula al estudiante en el respeto, el aprecio y el reconocimiento por las diversas concepciones del mundo,
        sus interpretaciones y representaciones simbólicas para construir, fortalecer y rescatar procesos de identidad
        colectiva, especialmente en los ámbitos local, regional y nacional. Asimismo, busca desarrollar en los
        estudiantes la cultura del emprendimiento.
      </Information>

      <Information title="Área Específica: ">
        Pretende introducir sistemáticamente al estudiante en la teoría y la práctica profesional de diversas
        disciplinas e, igualmente, iniciarlo en el contacto con los problemas del entorno, a partir de una práctica
        estructurante y en asocio con estudiantes de otras profesiones y disciplinas, y con entidades públicas y
        privadas de la región.
      </Information>
      <Information title="Área de Libre Elección:">
        Propende por introducir al estudiante en la práctica investigativa mediante la participación en grupos y
        actividades institucionales de investigación. Igualmente, busca sensibilizarlo en el análisis y tratamiento de
        los problemas críticos del desarrollo regional y nacional, preparándolo para entender su entorno social y actuar
        adecuadamente en este.
      </Information>
    </div>
  </section>
  <Banner title='"Dime y lo olvido, enséñame y lo recuerdo, involúcrame y lo aprendo"' image="bg-banner-about" />
</Layout>
