---
import Layout from "../component/all-pages/layout.astro";
import Information from "../component/about-page/information.astro";
import Banner from "../component/all-pages/banner.astro";
import InformationMVO from "../component/react/information-mvo-about";
import List from "../component/all-pages/list.astro";
import Goalds from "../component/react/goalds.jsx";
---

<Layout pathname="/about" title="Acerca del Programa">
  <section class="grid grid-rows-[auto,auto] lg:grid-rows-none lg:grid-cols-2 gap-12 px-0 lg:px-12">
    <div>
      <img src="/images/history.webp" class="rounded-md object-cover object-bottom w-full h-[300px]" />
    </div>
    <div class="flex flex-col justify-center gap-4">
      <h2 class="text-2xl font-bold">RESEÑA HISTÓRICA</h2>
      <p>
        El programa de Ingeniería Electrónica y Telecomunicaciones pertenece a la facultad de Ingeniería Electrónica y
        Telecomunicaciones de la Universidad del Cauca, la cual fue creada mediante el acuerdo No. 40 del 17 de
        diciembre de 1960, emanado del comité administrativo de la Asociación Colombiana de Universidades y el Fondo
        Universitario Nacional y refrendado por el Ministerio de Educación Nacional el 19 de diciembre de 1960.
      </p>
    </div>
  </section>
  <div class="w-full h-1 bg-secondary-400"></div>
  <section class="flex flex-col gap-12 px-0 lg:px-12">
    <h2 class="text-2xl font-bold">ESTRUCTURA CURRICULAR</h2>
    <div class="grid grid-flow-row lg:grid-cols-2 gap-8">
      <Information title="Área Común: ">
        Se fundamenta en la ciencia y la tecnología. Tiene como objetivo introducir al estudiante en la compatibilidad
        científica de las ciencias formales, las ciencias naturales y las ciencias humanas y sociales. Además, provee al
        estudiante bases requeridas en áreas como la Física y las Matemáticas y, a su vez, brindar la fundamentación
        necesaria en asignaturas como la Electrónica, Informática y Telecomunicaciones.
      </Information>
      <Information title="Área Transversal:">
        Estimula al estudiante en el respeto, el aprecio y el reconocimiento por las diversas concepciones del mundo,
        sus interpretaciones y representaciones simbólicas para construir, fortalecer y rescatar procesos de identidad
        colectiva, especialmente en los ámbitos local, regional y nacional. Asimismo, busca desarrollar en los
        estudiantes la cultura del emprendimiento.
      </Information>

      <Information title="Área Específica: ">
        Pretende introducir sistemáticamente al estudiante en la teoría y la práctica profesional de diversas
        disciplinas e, igualmente, iniciarlo en el contacto con los problemas del entorno, a partir de una práctica
        estructurante y en asocio con estudiantes de otras profesiones y disciplinas, y con entidades públicas y
        privadas de la región.
      </Information>
      <Information title="Área de Libre Elección:">
        Propende por introducir al estudiante en la práctica investigativa mediante la participación en grupos y
        actividades institucionales de investigación. Igualmente, busca sensibilizar en el análisis y tratamiento de los
        problemas críticos del desarrollo regional y nacional, preparándolo para entender su entorno social y actuar
        adecuadamente en este.
      </Information>
    </div>
  </section>
  <Banner title='"Dime y lo olvido, enséñame y lo recuerdo, involúcrame y lo aprendo"' image="bg-banner-about" />
  <section class="grid lg:grid-cols-2 sm:grid-cols-1">
    <InformationMVO client:load title="MISIÓN" bgColor="bg-primary-400">
      Lograr una verdadera integración con la sociedad y una estrecha relación con la industria del sector electrónico,
      de las telecomunicaciones e informático, con el fin de contribuir significativamente al mejoramiento de la calidad
      de vida de todos los habitantes del país.
    </InformationMVO>
    <InformationMVO client:load title="VISIÓN" bgColor="bg-primary-300">
      Ser reconocido internacionalmente como un Programa pionero y líder, en Latinoamérica, en la formación integral de
      estudiantes de pregrado en los campos de la electrónica, los sistemas de telecomunicaciones y los sistemas
      telemáticos.
    </InformationMVO>
  </section>
  <section>
    <Goalds client:load title="OBJETIVOS">
      <List>
        Estimular la participación de los estudiantes en eventos académicos, culturales y deportivos que contribuyan a
        su formación integral, e igualmente, propiciar su vinculación a sociedades académicas del orden nacional y/o
        internacional.
      </List>
      <List>
        Facilitar espacios para la realización de actividades de servicio comunitario por parte de los estudiantes del
        Programa de Ingeniería Electrónica y Telecomunicaciones.
      </List>
      <List>
        Establecer un proceso sistemático que permita avanzar efectivamente en la articulación de la docencia, la
        investigación y la proyección social del Programa de Ingeniería Electrónica y Telecomunicaciones.
      </List>
      <List>
        Hacer del estudiante un profesional con especiales dotes de sensibilidad social, con un alto sentido de
        compromiso hacia el desarrollo del país mediante una sólida formación científica, técnica y humana, y con una
        clara conciencia frente al manejo sostenible de los recursos nacionales.
      </List>
      <List>
        Propender por el compromiso del cuerpo profesoral con las actividades docentes propias de su disciplina, con los
        principios científicos y los criterios técnicos; como también, con el conocimiento de las realidades regionales,
        nacionales e internacionales y con su dedicación a la integración del saber, la investigación, la producción de
        material educativo y la integración social.
      </List>
      <List>
        Crear un ambiente de gestión que fomente y estimule todas aquellas actividades que propendan por el bienestar
        integral de la comunidad del Programa de Ingeniería Electrónica y Telecomunicaciones.
      </List>
      <List>
        Participar efectivamente en la creación, fortalecimiento y consolidación de espacios de discusión y grupos de
        trabajo interdisciplinario.
      </List>
      <List>
        Fomentar espacios y estrategias que permitan al Programa de Ingeniería Electrónica y Telecomunicaciones obtener
        las características necesarias para ser promovido y reconocido a nivel internacional.
      </List>
      <List>
        Propiciar espacios en las actividades docentes que permitan apoyar y promover el desarrollo profesoral y su
        compromiso con la calidad y la cultura de autoevaluación del Programa de Ingeniería Electrónica y
        Telecomunicaciones.
      </List>
      <p class="p-2">
        Además, teniendo en cuenta que este Programa Académico ha sido concebido como un espacio orientado al impulso de
        la Investigación y el Desarrollo (I+D) en el sector de la Electrónica, las Telecomunicaciones y la Informática,
        con el propósito de brindar a la región y al país respuestas a sus necesidades en el marco de la sociedad del
        conocimiento y a los desafíos que depara un mundo globalizado, se han definido los objetivos que se enunciarán a
        continuación:
      </p>
      <List>
        Proporcionar al futuro profesional métodos y técnicas de investigación y desarrollo en los campos de la
        Electrónica, los Sistemas de Telecomunicaciones y los Sistemas Telemáticos, para que este pueda participar
        efectivamente en actividades de Investigación y Desarrollo.
      </List>
      <List>
        Imprimir en el futuro profesional interés por la Electrónica como su área básica de conocimiento y por las
        Tecnologías de la Comunicación y la Información y su aplicabilidad y soporte a los procesos productivos de la
        región y el país.
      </List>
      <List>
        Formar ingenieros e investigadores críticos, capaces de atender el permanente avance científico-tecnológico en
        los campos de Sistemas de Telecomunicaciones y Sistemas Telemáticos.
      </List>
      <List>
        Capacitar profesionales que, a través de sus actividades de Investigación y Desarrollo, contribuyan a la
        creación e implementación de la Infraestructura Nacional de Información que requiere el país.
      </List>
      <List>
        Formar profesionales con visión empresarial y capacidad para identificar nichos de mercado relacionados con las
        necesidades de su entorno.
      </List>
      <List>
        Educar profesionales que participen efectivamente en el desarrollo del Sector de la Electrónica, las
        Telecomunicaciones y la Informática.
      </List>
    </Goalds>
  </section>
 
</Layout>
