---
import Layout from "../component/layout.astro";
import CheckIcon from "../component/icons/check-icon.astro";
import Information from "../component/information.astro";
import Banner from "../component/banner.astro";
---

<Layout pathname="/about" title="Acerca del Programa">
  <section class="grid grid-flow-col gap-8 items-center justify-center">
    <img src="/fiet-piet.jpg" width="400px" class="hidden md:block rounded-md" />
    <aside class="lg:w-[600px] md:items-center md:justify-center">
      <header>
        <h2 class="text-2xl font-bold mb-4">RESEÑA HISTÓRICA</h2>
      </header>
      <p class="">
        El programa de Ingeniería Electrónica y Telecomunicaciones pertenece a la facultad de Ingeniería Electrónica y
        Telecomunicaciones de la Universidad del Cauca, la cual fue creada mediante el acuerdo No. 40 del 17 de
        diciembre de 1960, emanado del comité administrativo de la Asociación Colombiana de Universidades y el Fondo
        Universitario Nacional y refrendado por el Ministerio de Educación Nacional el 19 de diciembre de 1960.
      </p>
    </aside>
  </section>
  <div class="w-full h-1 bg-secondary-400"></div>
  <section class="containar items-center lg:px-20 md:px-8">
    <header class="text-2xl font-bold">
      <h2>ESTRUCTURA CURRICULAR</h2>
    </header>
    <div class="grid items-center">
      <article class="grid lg:grid-flow-col items-start py-8">
        <Information title="Área Específica:">
          Pretende introducir sistemáticamente al estudiante en la teoría y la práctica profesional de diversas
          disciplinas e, igualmente, iniciarlo en el contacto con los problemas del entorno, a partir de una práctica
          estructurante y en asocio con estudiantes de otras profesiones y disciplinas, y con entidades públicas y
          privadas de la región.
        </Information>
        <Information title="Área Transversal">
          Estimula al estudiante en el respeto, el aprecio y el reconocimiento por las diversas concepciones del mundo,
          sus interpretaciones y representaciones simbólicas para construir, fortalecer y rescatar procesos de identidad
          colectiva, especialmente en los ámbitos local, regional y nacional. Asimismo, busca desarrollar en los
          estudiantes la cultura del emprendimiento.
        </Information>
      </article>
      <article class="grid lg:grid-flow-col items-start">
        <Information title="Área Específica: ">
          Pretende introducir sistemáticamente al estudiante en la teoría y la práctica profesional de diversas
          disciplinas e, igualmente, iniciarlo en el contacto con los problemas del entorno, a partir de una práctica
          estructurante y en asocio con estudiantes de otras profesiones y disciplinas, y con entidades públicas y
          privadas de la región.
        </Information>
        <Information title="Área de Libre Elección:">
          Propende por introducir al estudiante en la práctica investigativa mediante la participación en grupos y
          actividades institucionales de investigación. Igualmente, busca sensibilizarlo en el análisis y tratamiento de
          los problemas críticos del desarrollo regional y nacional, preparándolo para entender su entorno social y
          actuar adecuadamente en este.
        </Information>
      </article>
    </div>
  </section>
  <Banner title="Dime y lo olvido, enséñame y lo recuerdo, involúcrame y lo aprendo" image="bg-banner-about" />
</Layout>
