---
import Card from "../component/init-page/card.astro";
import Layout from "../component/all-pages/layout.astro";
import Banner from "../component/all-pages/banner.astro";
import StartInformations from "../component/init-page/start-informations.astro";
import Documents from "../component/init-page/documents.astro";
import Teachers from "../component/init-page/teachers.astro";
import Layout2 from "../component/all-pages/layout2.astro";
import LayoutCol3 from "../component/all-pages/layout-col-3.astro";
---

<Layout pathname="/" title="PIET UNICAUCA">
  <StartInformations />
  <Layout2>
    <section class="grid grid-rows-[auto,auto,auto] lg:grid-rows-none lg:grid-cols-[1fr,auto,1fr] gap-12">
      <div class="flex justify-center items-center">
        <aside class="border-4 border-primary-400 rounded-md">
          <div class="p-4 bg-primary-400">
            <h2 class="text-xl text-white font-bold">Información del Programa</h2>
          </div>
          <section class="p-4">
            <p>
              <strong class="font-bold text-lg">Título que otorga:</strong>
               Ingeniero en Electrónica y Telecomunicaciones.
            </p>
            <p>
              <strong class="font-bold text-lg"> Jornada:</strong>
               Diurna.
            </p>
            <p>
              <strong class="font-bold text-lg">Duración:</strong>
               Diez semestres.
            </p>
            <p>
              <strong class="font-bold text-lg">Lugar:</strong>
               Popayán (Cauca).
            </p>
            <p>
              <strong class="font-bold text-lg">Horarios de atención:</strong>
               Lunes a viernes de 8:00 a.m. a 12:00 pm y de 2:00 p.m. a 6:00 p.m.
            </p>
          </section>
        </aside>
      </div>
      <div class="w-full lg:w-1 mx-auto h-1 lg:h-full bg-secondary-400"></div>
      <div class="flex flex-col max-w-2xl gap-y-4">
        <h2 class="text-2xl font-bold">Sobre el programa de Ingeniería Electrónica y Telecomunicaciones</h2>
        <p>
          El programa de Ingeniería Electrónica y Telecomunicaciones de Unicauca lleva más de 60 años formando grandes
          profesionales en el área de las TIC (Tecnologías de la Información y las Comunicaciones), enfocando
          principalmente su uso en el ámbito de las telecomunicaciones.
        </p>
        <p>
          Ha impactado en gran medida en los campos tecnológicos del país y ha contribuido en el mejoramiento de la
          calidad de vida de las personas a nivel regional, nacional e internacional, proporcionando soluciones eficaces
          de tipo electrónico, de telecomunicaciones y de informática.
        </p>
        <p>
          Este programa posee la capacidad de entregar profesionales altamente calificados para la solución de
          problemáticas de TIC. Además, personal humano con excelente manejo de habilidades blandas y grandes
          capacidades de trabajo en equipo.
        </p>
      </div>
    </section>
  </Layout2>
  <Banner title='"La innovación distingue a los líderes de los seguidores."' image="bg-banner-electronic" />
  <LayoutCol3>
    <Documents
      title="PROYECTO EDUCATIVO INSTITUCIONAL"
      path="https://www.unicauca.edu.co/versionP/sites/default/files/files/pei-unicauca-ok.pdf"
      description="Descargar PEI"
    />
    <Documents
      title="REGLAMENTACIÓN DE ÉNFASIS Y ELECTIVAS "
      path="https://unicauca.edu.co/docs/resoluciones/reglamento-lineas-enfasis-fiet.pdf"
      description="Descargar la reglamentación"
    />
    <Documents
      title="REGLAMENTO ESTUDIANTIL"
      path="https://www.unicauca.edu.co/docs/acuerdos/reglamento_estudiantil.pdf"
      description="Descargar el reglamento estudiantil"
    />
  </LayoutCol3>
  <Banner title='"El aprendizaje es un tesoro que te seguirá a donde vayas"' image="bg-banner-teleco" />
  <LayoutCol3>
    <Card title="ELECTIVAS" path="/curriculum-pages/electives" text="Más Información">
      Las electivas del programa de ingeniería electrónica y telecomunicaciones le permite al estudiante seleccionar las
      áreas de interés de las cuales desea profundizar sus conocimientos.
    </Card>
    <Card title="PLAN DE ESTUDIOS" path="/curriculum" text="Más Información">
      El esquema estructurado del programa de ingeniería electrónica, tiene áreas obligatorias, fundamentales y
      optativas con sus respectivas asignaturas que forman parte del currículo de este programa ofrecido por la
      Universidad del Cauca.
    </Card>
    <Card title="LÍNEAS DE ÉNFASIS" path="/curriculum-pages/emphasis" text="Más Información">
      Las líneas de énfasis del programa de ingeniería electrónica y telecomunicaciones, le permiten al estudiante
      elegir sus áreas de interés.
    </Card>
    <Card title="PREGUNTAS FRECUENTES" path="/questions" text="Más Información">
      Encuentre aquí las preguntas más frecuentes para aspirantes y estudiantes del programa de ingeniería electrónica y
      telecomunicaciones de la Universidad el Cauca.
    </Card>
    <Card title="INSCRIPCIONES" path="https://www.unicauca.edu.co/inscripciones/" isActive text="Más Información">
      Descubre a continuación información detallada sobre el proceso de inscripciones en nuestra universidad. Obtén
      datos esenciales sobre fechas, requisitos, pasos a seguir y documentación necesaria para inscribirte en los
      programas académicos.
    </Card>
    <Card
      title="RECURSOS ACADEMICOS"
      path="https://www.unicauca.edu.co/versionP/oferta-academica/programas-de-pregrado/ingenieria-electronica-y-telecomunicaciones/recursos-academic"
      isActive
      text="Más Información"
    >
      Descubre la visión educativa a través del Proyecto Educativo Institucional (PEI). Este documento define la
      filosofía, metas y enfoque pedagógico. Conoce cómo buscamos formar individuos íntegros y contribuir al desarrollo
      de la sociedad a través de nuestra propuesta educativa.
    </Card>
  </LayoutCol3>
  <Banner title="DOCENTES DEL PROGRAMA" image="bg-primary-500" />
  <section class="w-full overflow-x-auto lg:pb-8">
    <section class="flex flex-row gap-8">
      <Teachers
        name="Mary Cristina Carrascal Reyes"
        type="planta"
        image="/teachers/marycarrascal.webp"
        departament="Telematica"
        email="mcarrascal@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2000).</li>
          <li>Magister en Telematica de la Universidad del Cauca</li>
        </ul>
      </Teachers>
      <Teachers
        name="Oscar Josué Calderón Cortez"
        type="planta"
        image="/teachers/oscarcalderon.webp"
        departament="Telecomunicaciones"
        email="oscarc@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1996).</li>
          <li>Especialista en Redes y Servicios Telemáticos de la Universidad del Cauca (1999).</li>
          <li>Magister en Educación mediada por TIC de la Universidad del Norte (2021).</li>
        </ul>
      </Teachers>
      <Teachers
        name="Jesús Mauricio Ramírez Viáfara"
        type="planta"
        image="/teachers/mauricioramirez.webp"
        departament="Telecomunicaciones"
        email="jesusramirez@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2009).</li>
          <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2014).</li>
        </ul>
      </Teachers>
      <Teachers
        name="Víctor Fabián Miramá Pérez"
        type="planta"
        image="/teachers/victormirama.webp"
        departament="Telecomunicaciones"
        email="vmirama@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2008).</li>
          <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2013).</li>
          <li>Doctor(c) en Ciencias de la Electrónica de la Universidad del Cauca (2022).</li>
        </ul>
      </Teachers>
      <Teachers
        name="Claudia Milena Hernández Bonilla"
        type="planta"
        image="/teachers/claudiahernandez.webp"
        departament="Telecomunicaciones"
        email="claudiah@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2004).</li>
          <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2011).</li>
          <li>Doctor(c) en Ciencias de la Electrónica de la Universidad del Cauca (2022).</li>
        </ul>
      </Teachers>
      <Teachers
        name="José Giovanny López Perafán"
        type="catedra"
        image="/teachers/joselopez.webp"
        departament="Telecomunicaciones"
        email="glopez@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1991).</li>
          <li>Especialista en Docencia Universitaria de la Universidad Cooperativa de Colombia (1998).</li>
          <li>Magister en Telemática de la Universidad del Cauca (2003).</li>
          <li>Doctor en Ciencias de la Electrónica de la Universidad del Cauca (2015).</li>
        </ul>
      </Teachers>
      <Teachers
        name="Gustavo Adolfo Gomez Agredo"
        type="planta"
        image="/teachers/gustavogomez.webp"
        departament="Telecomunicaciones"
        email="gtgomez@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2010).</li>
          <li>Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2019).</li>
          <li>Especialista (c) en TIC para la Innovación Educativa de la Universidad del Cauca (2020).</li>
        </ul>
      </Teachers>
      <Teachers
        name="Pablo Emilio Jojoa Gómez"
        type="catedra"
        image="/teachers/pablojojoa.webp"
        departament="Telecomunicaciones"
        email="pjojoa@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (1993).</li>
          <li>
            Magister en Ingeniería Eléctrica Área Sistemas Electrónicos de la Escuela Politécnica de la Universidad de
            Sao Paulo (1999).
          </li>
          <li>
            Doctor en Ingeniería Eléctrica Área Sistemas Electrónicos de la Escuela Politécnica de la Universidad de Sao
            Paulo (2003).
          </li>
        </ul>
      </Teachers>
      <Teachers
        name="Mario Fernando Solarte Sarasty"
        type="planta"
        image="/teachers/mariosolarte.webp"
        departament="Telematica"
        email="msolarte@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2009).</li>
          <li>Maestría en Ingeniería Telemática de la Universidad del Cauca.</li>
          <li>Doctorado en Ingeniería Telemática de la Universidad del Cauca.</li>
        </ul>
      </Teachers>
      <Teachers
        name="María Manuela Silva Zambrano"
        type="catedra"
        image="/teachers/perfil.webp"
        departament="Telecomunicaciones"
        email="mariasilva@unicauca.edu.co"
      >
        <ul class="list-disc pl-4">
          <li>Ingeniero en Electrónica y Telecomunicaciones de la Universidad del Cauca (2015).</li>
          <li>Especialista en TIC para la innovación Educativa de la Universidad del Cauca(2021).</li>
          <li>Magister en Magister en Electrónica y Telecomunicaciones de la Universidad del Cauca (2022).</li>
        </ul>
      </Teachers>
    </section>
  </section>
</Layout>
