---
import CalendarIcon from "../component/icons/calendar-icon.astro";
import Card from "../component/card.astro";
import GraduateIcon from "../component/icons/graduate-icon.astro";
import Layout from "../component/layout.astro";
import StarIcon from "../component/icons/star-icon.astro";
import StartInformation from "../component/start-information.astro";
import TimeIcon from "../component/icons/time-icon.astro";
---

<Layout pathname="/" title="PIET UNICAUCA">
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 place-items-center gap-4 ">
    <StartInformation title="Nivel Académico" description="Pregrado">
      <GraduateIcon />
    </StartInformation>
    <StartInformation title="Código SINES" description="238">
      <StarIcon />
    </StartInformation>
    <StartInformation title="Metodología" description="Presencial">
      <TimeIcon />
    </StartInformation>
    <StartInformation title="Admisiones" description="Semestrales">
      <CalendarIcon />
    </StartInformation>
  </section>
  <section class="grid grid-cols-1 lg:grid-cols-10 gap-8 items-center">
    <aside class="border-4 border-primary-400 rounded-md col-span-1 lg:col-span-4">
      <div class="p-4 bg-primary-400">
        <h2 class="text-xl text-white font-semibold">Información del Programa</h2>
      </div>
      <section class="p-4">
        <p>
          <strong class="font-bold text-lg">Título que otorga:</strong>
           Ingeniero en Electrónica y Telecomunicaciones.
        </p>
        <p>
          <strong class="font-bold text-lg"> Jornada:</strong>
           Diurna.
        </p>
        <p>
          <strong class="font-bold text-lg">Duración:</strong>
           Diez semestres.
        </p>
        <p>
          <strong class="font-bold text-lg">Lugar:</strong>
           Popayán (Cauca).
        </p>
        <p>
          <strong class="font-bold text-lg">Horarios de atención:</strong>
           Lunes a viernes de 8:00 a.m. a 12:00 pm y de 2:00 p.m. a 6:00 p.m.
        </p>
      </section>
    </aside>
    <section class="w-full lg:w-1 mx-auto h-1 lg:h-full bg-secondary-400"></section>
    <section class="col-span-1 lg:col-span-5 max-w-2xl">
      <header class="font-bold text-2xl mb-4">
        <h2 >Sobre el programa de <strong>Ingeniería Electrónica y Telecomunicaciones</strong></h2>
      </header>
      <p class="mb-2">
        El programa de Ingeniería Electrónica y Telecomunicaciones de Unicauca lleva más de 60 años formando grandes
        profesionales en el área de las TIC (Tecnologías de la Información y las Comunicaciones), enfocando
        principalmente su uso en el ámbito de las telecomunicaciones.
      </p>
      <p class="mb-2">
        Ha impactado en gran medida en los campos tecnológicos del país y ha contribuido en el mejoramiento de la
        calidad de vida de las personas a nivel regional, nacional e internacional, proporcionando soluciones eficaces
        de tipo electrónico, de telecomunicaciones y de informática.
      </p>
      <p class="mb-2">
        Este programa posee la capacidad de entregar profesionales altamente calificados para la solución de
        problemáticas de TIC. Además, personal humano con excelente manejo de habilidades blandas y grandes capacidades
        de trabajo en equipo.
      </p>
    </section>
  </section>
  <section class="relative rounded-md overflow-hidden">
    <div class="flex items-center justify-center bg-teleco bg-cover bg-bottom h-[200px] p-4">
      <h4 class="italic text-center text-xl md:text-2xl lg:text-3xl text-white font-semibold z-10">
        "El aprendizaje es un tesoro que te seguirá a donde vayas"
      </h4>
    </div>
    <div class="absolute inset-0 bg-primary-600/60"></div>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <Card title="ELECTIVAS" path="/curriculum">
      Las electivas del programa de ingeniería electronica y telecomunicaciones le permite al estudiante seleccionar las
      areas de interés de las cuales desea profundizar sus conocimientos.
    </Card>
    <Card title="PLAN DE ESTUDIOS" path="/curriculum">
      El esquema estructurado del programa de ingeniería de electronica, tiene áreas obligatorias, fundamentales y
      optativas con sus respectivas asignaturas que forman parte del currículo de este programa ofrecido por la
      Universidad del Cauca.
    </Card>
    <Card title="LINEAS DE ÉNFASIS" path="/curriculum">
      Las lineas de énfasis del programa de ingeniería electronica y telecomunicaciones, le permiten al estudiante
      elegir sus areas de interés.
    </Card>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <Card
      title="REGLAMENTO ESTUDIANTIL"
      path="https://portal.unicauca.edu.co/versionP/documentos/acuerdos/acuerdo-no-002-de-1988"
      isActive
    >
      Encuentra aquí el reglamento estudiantil universitario, donde hallarás las normativas y pautas que guían la
      conducta y participación de los estudiantes en la institución educativa.
    </Card>
    <Card title="INSCRIPCIONES" path="https://www.unicauca.edu.co/inscripciones/" isActive>
      Descubre a continuación información detallada sobre el proceso de inscripciones en nuestra universidad. Obtén
      datos esenciales sobre fechas, requisitos, pasos a seguir y documentación necesaria para inscribirte en los
      programas académicos.
    </Card>
    <Card
      title="PROYECTO EDUCATIVO INSTITUCIONAL"
      path="http://facultades.unicauca.edu.co/prlvmen/sites/default/files/procesos/PEI%20Unicauca.pdf"
      isActive
    >
      Descubre la visión educativa a través del Proyecto Educativo Institucional (PEI). Este documento define la
      filosofía, metas y enfoque pedagógico. Conoce cómo buscamos formar individuos íntegros y contribuir al desarrollo
      de la sociedad a través de nuestra propuesta educativa.
    </Card>
  </section>
</Layout>
