---
import List from "../component/all-pages/list.astro";
import Banner from "../component/all-pages/banner.astro";
import Layout from "../component/layouts/layout.astro";
import LayoutTextImg from "../component/layouts/layout-text-img.astro";
import LayoutCol2 from "../component/layouts/layout-col-2.astro";
---

<Layout pathname="/professional" title="Perfil Profesional">
  <section>
    <LayoutTextImg src="/images/perfil-profesional.webp" alt="Fotografía para ilustrar el perfil profesional">
      <div class="flex flex-col gap-4 justify-center">
        <h3 class="text-primary-500">PERFIL PROFESIONAL</h3>
        <p>
          Los estudiantes que reciban título de Ingenieros en Electrónica y Telecomunicaciones de la Universidad del
          Cauca se destacarán por tener las siguientes características básicas, que conforman el perfil del graduado de
          este Programa Académico:
        </p>
      </div>
    </LayoutTextImg>
    <LayoutCol2>
      <List>
        Se caracterizarán por mantenerse vigentes como profesionales, mediante el cultivo de su espíritu científico y la
        búsqueda permanente del saber, como también, a través de una visión de futuro de los campos de la Electrónica,
        Sistemas de Telecomunicaciones y Sistemas Telemáticos.
      </List>
      <List>
        Estarán preparados para sintetizar el conocimiento científico y tecnológico y para lograr la solución de
        problemas de la sociedad relacionados con los campos de la Electrónica, los Sistemas de Telecomunicaciones y los
        Sistemas Telemáticos.
      </List>
      <List>
        Se caracterizarán por la vida activa y solidaria, por la difusión de su conocimiento, la multiplicación del
        saber y la reafirmación en la práctica profesional de su espíritu transformador y demandante de igualdad social.
      </List>
      <List>
        Tendrán una formación balanceada, es decir, con aproximaciones estimulantes a los asuntos fundamentales de las
        ciencias humanas y sociales.
      </List>
      <List>
        Serán profesionales creativos, recursivos, con actitudes proactivas, con facilidades de comunicación y capacidad
        para trabajar en equipo.
      </List>
      <List>Podrán desarrollar habilidades de aprendizaje continuado en el aprender y en el hacer.</List>

      <List>
        Tendrán habilidades de aprendizaje continuado en la creación y aplicación de modelos físico-matemáticos de la
        realidad.
      </List>

      <List>Tendrán habilidades empresariales, administrativas y gerenciales.</List>
      <List>Se caracterizarán por tener dominio del discurso oral y escrito.</List>

      <List>Estarán formados para el trabajo, la acción y los altos propósitos.</List>
    </LayoutCol2>
  </section>
  <Banner title="“El mejor modo de predecir el futuro es creándolo”. Peter Drucker" image="bg-banner-electronic" />
</Layout>
