---
import Layout from "../component/layout.astro";
---

<Layout pathname="/professional" title="Perfil Profesional">
  <h2>Perfil Profesional</h2>
  <img width="100px" height="100px" src="/telecomunicaciones.jpg" />
</Layout>
