---
import Layout from "../component/layout.astro";
---

<Layout title="Perfil Profesional">
  <h1>Perfil Profesional</h1>
  <img width="100px" height="100px" src="/telecomunicaciones.jpg" />
</Layout>
