---
import Banner from "../component/all-pages/banner.astro";
import Layout from "../component/all-pages/layout.astro";
import InformationQuestion from "../component/react/information-question";
---

<Layout pathname="/questions" title="Preguntas Frecuentes">
  <Banner title="ASPIRANTES" image="bg-banner-applicants" />
  <section class="grid grid-flow-row px-0 gap-8 lg:px-12">
    <InformationQuestion
      client:load
      title="¿Cómo puedo inscribirme en el programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca?"
    >
      Para inscribirte al programa de ingeniería electrónica y telecomunicaciones, debes estar pendiente de las fechas
      de admisión de la universidad del cauca, y seguir el paso a paso que se encuentra en el siguiente enlace.
    </InformationQuestion>
    <InformationQuestion
      client:load
      title="¿El programa de Ingeniería Electrónica y Telecomunicaciones tiene un límite de cupo?"
    >
      Respuesta
    </InformationQuestion>
    <InformationQuestion
      client:load
      title="¿Cuáles son las oportunidades de becas y ayuda financiera disponibles para estudiantes de esta carrera?"
    >
      Respuesta
    </InformationQuestion>
    <InformationQuestion
      client:load
      title="¿Es necesario tener una formación previa en matemáticas o física para ser aceptado en el programa?"
    >
      Respuesta
    </InformationQuestion>
    <InformationQuestion
      client:load
      title="¿ En caso de ser admitido qué documentos o certificados académicos se deben proporcionar como parte de la solicitud de admisión?"
    >
      Respuesta
    </InformationQuestion>
  </section>
  <Banner title="ESTUDIANTES" image="bg-banner-applicants" />
  <nav class="flex gap-4 justify-center flex-wrap">
    <a href="#homologaciones" class="border-b-4 border-secondary-600 font-bold sm:text-base lg:text-xl">
      HOMOLOGACIONES</a
    >
    <a href="#pasantias" class="border-b-4 border-secondary-600 font-bold sm:text-base lg:text-xl"> PASANTIAS</a>
    <a href="#cancelaciones" class="border-b-4 border-secondary-600 font-bold sm:text-base lg:text-xl">
      CANCELACIONES</a
    >
    <a href="#matricula" class="border-b-4 border-secondary-600 font-bold sm:text-base lg:text-xl"> MATRICULA</a>
    <a href="#reingreso" class="border-b-4 border-secondary-600 font-bold sm:text-base lg:text-xl"> REINGRESO</a>
    <a href="#modalidades" class="border-b-4 border-secondary-600 font-bold sm:text-base lg:text-xl">
      MODALIDADES DE GRADO</a
    >
  </nav>
  <section class="grid grid-flow-row px-0 gap-10 lg:px-12">
    <h2 id="homologaciones" class="text-2xl font-semibold">HOMOLOGACIONES</h2>
    <div class="grid grid-flow-row gap-8">
      <InformationQuestion client:load title="¿Cómo puedo solicitar una homologación?">Respuesta</InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son los requisitos para homologar una materia?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuánto tiempo tarda el proceso de homologación?">
        Respuesta
      </InformationQuestion>
    </div>
    <h2 id="pasantias" class="text-2xl font-semibold">PASANTIAS</h2>
    <div class="grid grid-flow-row gap-8">
      <InformationQuestion client:load title="¿Cuáles son los requisitos para realizar una pasantía?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son los pasos para realizar una pasantía empresarial?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuánto tiempo dura una pasantía?">Respuesta</InformationQuestion>
    </div>

    <h2 id="cancelaciones" class="text-2xl font-semibold">CANCELACIONES</h2>
    <div class="grid grid-flow-row gap-8">
      <InformationQuestion client:load title="¿Qué debo hacer si quiero cancelar una materia?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son los plazos para cancelar una materia?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Qué debo hacer si quiero cancelar semestre">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son los plazos para cancelar semestre?">
        Respuesta
      </InformationQuestion>
    </div>
    <h2 id="matricula" class="text-2xl font-semibold">MATRICULA</h2>
    <div class="grid grid-flow-row gap-8">
      <InformationQuestion client:load title="¿Cuándo debo realizar la matrícula académica ?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion
        client:load
        title="¿Qué sucede si no realizo la matrícula académica en el plazo establecido?"
      >
        Respuesta
      </InformationQuestion>
      <InformationQuestion
        client:load
        title="¿Qué becas o exenciones ofrece la universidad para el pago de la matrícula?"
      >
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cómo genero el recibo de matrícula financiera?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son las formas de pago disponibles de la matrícula financiera?">
        Respuesta
      </InformationQuestion>
    </div>
    <h2 id="reingreso" class="text-2xl font-semibold">REINGRESO</h2>
    <div class="grid grid-flow-row gap-8">
      <InformationQuestion
        client:load
        title="¿Qué debo hacer si quiero volver a la universidad después de haberme retirado?"
      >
        Respuesta
      </InformationQuestion>
      <InformationQuestion
        client:load
        title="¿Cuando puedo solicitar reingreso al programa de Ingeniería Electrónica y Telecomunicaciones ?"
      >
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son los plazos para solicitar el reingreso?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Qué sucede si no solicito el reingreso dentro del plazo establecido?">
        Respuesta
      </InformationQuestion>
    </div>
    <h2 id="modalidades" class="text-2xl font-semibold">MODALIDADES DE GRADO</h2>
    <div class="grid grid-flow-row gap-8">
      <InformationQuestion client:load title="¿Cuáles son las modalidades de grado que ofrece el programa?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cuáles son los requisitos para cada modalidad de grado?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Cómo se elabora un convenio específico para práctica profesional?">
        Respuesta
      </InformationQuestion>
      <InformationQuestion client:load title="¿Puedo cambiar de modalidad de grado?">Respuesta</InformationQuestion>
      <InformationQuestion
        client:load
        title="¿Cuándo paso documentación para el anteproyecto de trabajo de grado y cuanto demora?"
      >
        Respuesta
      </InformationQuestion>
    </div>
  </section>
</Layout>
