---
import AnchorNav from "../component/all-pages/anchor-nav.astro";
import Banner from "../component/all-pages/banner.astro";
import List from "../component/all-pages/list.astro";
import Dropdown from "../component/curriculum-page/dropdown.astro";
import Layout from "../component/layouts/layout.astro";
import Layout2 from "../component/layouts/layout2.astro";
import Line from "../component/all-pages/line.astro";
import ListNum from "../component/all-pages/list_num.astro"
const anchors = [
  { href: "#homologaciones", title: "HOMOLOGACIONES" },
  { href: "#pasantias", title: "PASANTIAS" },
  { href: "#cancelaciones", title: "CANCELACIONES" },
  { href: "#matricula", title: "MATRÍCULA" },
  { href: "#reingreso", title: "REINGRESO" },
  { href: "#modalidades", title: "MODALIDADES DE GRADO" },
];
---

<Layout pathname="/questions" title="Preguntas Frecuentes">
  <Banner title="ASPIRANTES" image="bg-banner-applicants" />
  <Layout2>
    <Dropdown
      title="¿Cómo puedo inscribirme en el programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca?"
      link="https://www.unicauca.edu.co/versionP/pregrado"
      textancle="Admisiones"
      isActive
      label="ir a la página de admisiones de la Universidad del Cauca"
    >
      <p>
        Para inscribirte al programa de ingeniería electrónica y telecomunicaciones, debes estar pendiente de las fechas
        de admisión de la universidad del cauca. Es obligación del Aspirante leer toda la información que se publique en
        las guías y manuales de este portal web y demás sistemas de información antes de realizar cada una de las etapas
        del proceso de admisión, dado que el mal diligenciamiento de la información u omisión en los procedimientos
        puede llevar a la exclusión del proceso o pérdida del cupo. Para más información dar clic en el enlace.
      </p>
    </Dropdown>
    <Dropdown
      title="¿Cuáles son los requisitos de inscripción para el programa?"
      link="https://www.unicauca.edu.co/versionP/documentos/acuerdos/acuerdo-acad%C3%A9mico-013-de-2018-por-medio-del-cual-se-reglamenta-el-proceso-de-inscripci%C3%B3n-admisi%C3%B3n--0"
      textancle="Reglamentación del proceso de Inscripción"
      isActive
      label="ir a la página de Reglamentación del proceso de Inscripción"
    >
      <p>
        Para ingresar al programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca debe tener
        en cuenta los requisitos de inscripción generales a la Universidad los cuales son:
      </p>
      <List>
        Haber presentado el Examen ICFES SABER 11° a partir del segundo periodo del año 2012 y tener un puntaje total,
        igual o superior a 160 puntos para los programas de Pregrado-Popayán y de 150 puntos para los programas
        ofrecidos por el Centro de Regionalización.
      </List>
      <List>Acreditar la condición de bachiller en el momento que la Universidad lo requiera.</List>
      <List>
        Realizar el registro en el aplicativo de inscripción previsto en la página web de la Universidad, consignando en
        forma veraz y auténtica, la información allí requerida, previa aceptación de términos y condiciones.
      </List>
      <List>
        Realizar el pago de los derechos pecuniarios establecidos por la Universidad como derechos de inscripción.
      </List>
      <List>
        Cumplir con los requisitos establecidos en la norma universitaria que regula el proceso de inscripción.
      </List>
    </Dropdown>
    <Dropdown
      title="¿En caso de ser admitido qué documentos o certificados académicos se deben proporcionar como parte de la solicitud de admisión?"
      link="https://www.unicauca.edu.co/versionP/sites/default/files/files/DocumentosMatr%C3%ADculaPregradV7.docx"
      textancle="Formato para Admisiones"
      isActive
      label="Descargar el Formato para Admisiones"
    >
      <p>Los documentos o certificados académicos que debe proporcionar son:</p>
      <List>Una (1) fotografía reciente, tamaño 3x4 cm.</List>
      <List>
        Fotocopia legible del documento de identidad (Cédula, tarjeta de identidad, contraseña, cédula de extranjería),
        tamaño normal.
      </List>
      <List>
        Recibo original de energía del mes inmediatamente anterior, del lugar de residencia de los padres o tutores, con
        indicación del estrato. Para sitios no estratificados se tendrá en cuenta el reporte del SISBEN.
      </List>
      <List>Fotocopia del diploma de bachiller que incluya fecha de grado legible. ☐</List>
      <List>
        Constancia original del valor pagado por pensión en el grado once, expedida por el Rector o Tesorero del
        colegio. (Nota importante: Los aspirantes que no pagaron ningún valor por concepto de pensión deben presentar la
        constancia original que así lo certifique)
      </List>
      <List>Copia de la tarjeta de resultados del examen ICFES (SABER 11).</List>
      <List>Si votó en las últimas elecciones, anexar fotocopia de certificado electoral.</List>
      <List>Fotocopia del carné o certificación de salud.</List>
      <List>Reporte de resultados de clasificación SISBEN IV.</List>
      <p>
        Si a la fecha establecida en el calendario de admisiones para recepción de documentos – requisitos de matrícula:
        admitidos primera lista y aspirantes en lista de espera, no ha obtenido su diploma de bachiller, debe tramitar
        ante el colegio, certificado donde se manifieste que ya aprobó el grado once y sólo tiene pendiente la ceremonia
        de grado.
      </p>
    </Dropdown>
  </Layout2>
  <Banner title="ESTUDIANTES" image="bg-banner-students" />
  <AnchorNav list={anchors} />
  <section>
    <Layout2>
      <h3 id="homologaciones" class="pb-4 flex justify-center text-primary-900">HOMOLOGACIONES</h3>
      <Dropdown
        title="¿Cómo puedo solicitar una homologación?"
        link="../formatos-doc/homologacióndematerias.docx"
        textancle="Formato PM-FO-4-PR-FOR-22"
        isActive
        label="ir a más información"
      >
        <p>Para solicitar una homologación de asiganturas debes realizar los siguientes pasos</p>
        <List>
          Descarga y completa el <strong>formato PM-FO-4-PR-FOR-22</strong>, anexando el contenido programático y el
          certificado de calificaciones a la secretaria general
        </List>
        <List> Entrega la solicitud en la Secretaría General para revisar si cumple con los requisitos. </List>
        <List>
          Espera a que la secretaria general te informe si se aprueba o no la homologación de la asignatura.
        </List>
      </Dropdown>
      <Dropdown
        title="¿Cuál es el proceso de homologación de materias?"
        link="../formatos-doc/homologacióndematerias.docx"
        textancle="Formato PM-FO-4-PR-FOR-22"
        isActive
        label="ir a más información"
      >
        <p>El proceso de homologación de asiganturas consta de los siguientes pasos</p>
        <List>
          El estudiante entrega el <strong>formato PM-FO-4-PR-FOR-22</strong>, anexando el contenido programático y el
          certificado de calificaciones a la secretaria general
        </List>
        <List>
          La Secretaría General para revisar si cumple con los requisitos y envía la solicitud al coordinador del
          programa, quien revisa los contenidos programáticos, créditos y requisitos. Si se aprueba, el coordinador
          firma el formato y lo entrega nuevamente a la Secretaría General; si no, se informa al estudiante sobre la no
          aprobación.
        </List>
        <List>
          Posteriormente la solicitud llega Consejo de Facultad, donde se revisa y aprueba mediante una resolución.
        </List>
        <List> El Decano ratifica o niega la decisión del Consejo y expide la resolución. </List>
        <List>
          La Secretaría de Facultad notifica al estudiante la resolución y entrega una copia. El estudiante debe
          notificarse en la Secretaría General antes del periodo de matrículas.
        </List>
        <List>
          Si el estudiante no se notifica, la resolución se publicará. Luego, se enviará una copia al proceso de
          Admisiones, Registro y Control Académico para el trámite correspondiente.
        </List>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="pasantias" class="pb-4 flex justify-center text-primary-900">PASANTIAS</h3>
      <Dropdown title="¿Cuál es la diferencia entre pasantía y práctica profesional?" link="" textancle="" isActive>
        <p>
          Las diferencias entre una pasantía y una practica profesional en el programa de Ingeniería Electrónica y
          Telecomunicaciones de la Universidad del Cauca son:
        </p>
        <List>
          Las pasantías son una excelente oportunidad para que los estudiantes adquieran experiencia práctica en un
          entorno laboral real y complementen su formación académica, por otro lado, las prácticas profesionales son un
          requisito curricular obligatorio y una de las formas de obtener el título de ingeniero electrónico y de
          telecomunicaciones en la Universidad del Cauca.
        </List>
        <List
          >Durante una pasantía, los estudiantes trabajan en proyectos o tareas asignadas por la empresa u organización
          donde se realiza la pasantía. En una práctica profesional, los estudiantes asumen responsabilidades propias de
          un ingeniero electrónico y de telecomunicaciones.
        </List>
        <List>
          El enfoque de una pasantía es aplicar los conocimientos teóricos aprendidos en el aula a situaciones reales
          del campo profesional, mientras que en la practica profesional se enfocan en la integración del estudiante al
          entorno laboral como profesional en el área.
        </List>
        <List>
          Las pasantías son de corta duración, generalmente entre 1 y 6 meses, mientras que la practica profesional
          tiene una mayor duración, generalmente entre 6 y 12 meses.
        </List>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los requisitos para realizar una pasantía?"
        link="../documents/Pasantias-r452_2017 FIET.docx.pdf"
        textancle="RESOLUCIÓN 8.4.2–90.14/452 de 2017"
        isActive
        label="ir a más información"
      >
        <p>Los requisitos para realizar una pasantía son los siguientes:</p>
        <List>
          Ser estudiante activo de uno de los programas de la Facultad de Ingeniería
          Electrónica y Telecomunicaciones.
        </List>
        <List>
          Haber aprobado todas las asignaturas correspondientes hasta sexto semestre 
          del plan de estudios.
        </List>
        <List>
          La pasantía empresarial debe realizarse en dependencias de la Universidad del Cauca,
          y/o preferiblemente con entidades u organizaciones púbicas o privadas con las cuales
          la Universidad tenga convenio de cooperación institucional vigente.
        </List>
        <List>
          El estudiante deberá contar con un plan de trabajo definido en conjunto con la orientación
          de dos asesores: el primero designado por alguno de los
          Departamentos de la FIET y el segundo por parte de la Organización.
        </List>
        <List>
          Presentar los siguientes documentos ante el Comité de Programa: Plan de trabajo <strong>Formato A1</strong> 
          y Carta de aceptación de la organización <strong>Formato A2</strong> 
        </List>
        <List>
          Obtener el aval del Comité del Programa <strong>Formato A3</strong> antes de iniciar la pasantía.
        </List>
        <List>
          Las actividades concernientes a la pasantía podrán ser desarrolladas solamente dentro del
          periodo académico oficial definido por la Universidad.
        </List>
        <List>
          Estar afiliado al sistema de seguridad social en riesgos laborales, gestionado por la organización o por la Universidad.
        </List>
        <List>
          Entregar un informe final de actividades <strong>Formato A4</strong> al finalizar
          la pasantía, siguiendo las normas y estructura indicadas.
        </List>
        <List>
          La pasantía debe ser evaluada por ambos asesores, con una nota final mínima de 3.0 
          para aprobarla <strong>Formato A5</strong>.
        </List>
        <List>
          La pasantía solo se puede realizar una vez. Si el estudiante se retira
          o no cumple el plan, no podrá postularse nuevamente.
        </List>
      </Dropdown>

      <Dropdown
        title="¿Cuáles son los pasos para realizar una pasantía empresarial?"
        link="../documents/Pasantias-r452_2017 FIET.docx.pdf"
        textancle="RESOLUCIÓN 8.4.2–90.14/452 de 2017"
        isActive
        label="Ir a más información"
      >
      <p>
        Los formatos necesarios para el desarrollo de una pasantía empresarial los puede encontrar en 
        el reglamento de pasantías empresariales <strong>RESOLUCIÓN 8.4.2–90.14/452 de 2017</strong>, teniendo en cuenta 
        lo anterior, se definen los pasos para realizar una pasantía empresarial:
      </p>
        <ListNum index= 1 >
          Verificar que cumples los requisitos esenciales: Ser estudiante activo de un programa de la FIET 
          y haber aprobado todas las asignaturas hasta sexto semestre del plan de estudios.
        </ListNum>
         
        <ListNum index= 2 >
          Busca una organización para realizar la pasantía: La organización puede ser pública, privada, ONG o una 
          dependencia de la Universidad.
        </ListNum>

        <ListNum index="3">
          Define un plan de trabajo <strong>Formato A1</strong> con un asesor por parte de la FIET y un asesor 
          por parte de la organización.
        </ListNum>
        <ListNum index="4">
          Solicitar la carta de aceptación de la empresa donde harás la pasantía <strong>Formato A2</strong>.
        </ListNum>
        <ListNum index="5">
          Entregar el plan de trabajo firmado y la carta de aceptación de la empresa al comité del programa.
        </ListNum>
        <ListNum index="6">
          Esperar la aprobación del comité del programa <strong>Formato A3</strong>, se notificará a la empresa para iniciar formalmente la pasantía y realizarla
          durante el periodo académico establecido por la Universidad.
        </ListNum>
        <ListNum index="7">
          Luego de concluir el desarrollo de las actividades del plan de trabajo, debe elaborar 
          y entregar un informe final de actividades <strong>Formato A4</strong>, siguiendo las normas exigidas.
        </ListNum>
        <ListNum index="8">
          Recibir la evaluación final de ambos asesores <strong>Formato A5</strong>.
        </ListNum>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="cancelaciones" class="pb-4 flex justify-center text-primary-900">CANCELACIONES</h3>
      <Dropdown
        title="¿Qué debo hacer si quiero cancelar una materia?"
        link="../formatos-doc/cancelacióndeasignatura.doc"
        textancle="Formato PA-GA-4.2-FOR-9"
        isActive
        label="ir a Formato PA-GA-4.2-FOR-9"
      >
        <p>Para cancelar una asignatura el estudiante debe:</p>
        <List>
          Descargar el formato cancelación de materias <strong> Formato PA-GA-4.2-FOR-9</strong> Solicitud de cancelación
          de asignaturas.
        </List>
        <List> Entregar en la Secretaria General de la Facultad el formato diligenciado. </List>
        <List> Esperar a que se le notifique la respuesta a su solicitud de cancelación </List>
      </Dropdown>
      <Dropdown
        title="¿Cuál es el proceso para cancelar una asignatura?"
        link="../formatos-doc/Procesocancelacióndematerias.pdf"
        textancle="Proceso de cancelación de asignaturas"
        isActive
        label="ir a Proceso de cancelación de asignaturas"
      >
        <p>El proceso para cancelar una asignatura es el siguiente:</p>
        <List>
          El estudiante debe descargar el formato cancelación de materias Formato PA-GA-4.2-FOR-9 Solicitud de
          cancelación de asignaturas.</List
        >
        <List>
          El estudiante entrega en la Secretaria General de la Facultad el formato de cancelación de asignaturas
          plenamente diligenciado.
        </List>
        <List>
          La Secretaría General de la facultad revisa si cumple los requisitos y entrega al coordinador del programa
          respectivo. En caso contrario informa al estudiante la no aprobación de la cancelación de la materia.
        </List>
        <List>
          Coordinador de programa recibe solicitud de cancelación de materias, ingresa a SIMCA, revisa la historia
          académica. Si el estudiante cumple con los requisitos de cancelación de asignaturas, el coordinador hace el
          visado correspondiente.
        </List>
        <List>
          El Secretario de facultad recibe la solicitud de cancelación y proyecta la respectiva resolución para la firma
          del Decano
        </List>
        <List>
          La Secretaria de Facultad envía correo electrónico con copia de resolución escaneada a la División de
          Admisiones Registro y Control Académico
        </List>
        <List>
          La Secretaria de Facultad archiva copia de la resolución en la Hoja de Vida del estudiante, contacta al
          estudiante para que se notifique en la secretaria de facultad, entrega resolución de cancelación al estudiante
        </List>
      </Dropdown>

      <Dropdown
        title="¿Cuáles son los plazos para cancelar una materia?"
        link="https://www.facebook.com/people/FIET-Facultad-de-Ingenier%C3%ADa-Electr%C3%B3nica-y-Telecomunicaciones-Unicauca/100041630904496/"
        textancle="Página de Facebook FIET"
        isActive
        label="ir a Página de Facebook FIET"
      >
        <p>
          Los plazos para cancelación de asignaturas se publican semestralmente dentro del calendario de actividades en
          la página de Facebook del programa, recuerde que la solicitud debe estar debidamente justificada.
        </p>
      </Dropdown>
      <Dropdown
        title="¿Qué debo hacer si quiero cancelar semestre?"
        link="../formatos-doc/cancelacionMatricula.docx"
        textancle="Formato PA-GA-4.2-FOR-14"
        isActive
        label="ir a Formato PA-GA-4.2-FOR-14"
      >
        <p>Para cancelar semestre el estudiante debe:</p>
        <List>
          Descargar el formato cancelación de materias <strong> Formato PA-GA-4.2-FOR-14</strong> Solicitud de cancelación
          de asignaturas.
        </List>
        <List> Entregar en la Secretaria General de la Facultad el formato diligenciado. </List>
        <List> Esperar a que se le notifique la respuesta a su solicitud de cancelación </List>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los plazos para cancelar semestre?"
        link="https://www.facebook.com/people/FIET-Facultad-de-Ingenier%C3%ADa-Electr%C3%B3nica-y-Telecomunicaciones-Unicauca/100041630904496/"
        textancle="Página de Facebook FIET"
        isActive
        label="ir a Página de Facebook FIET"
      >
        <p>
          Los plazos para cancelación de matricula se publican semestralmente dentro del calendario de actividades en la
          página de Facebook del programa, recuerde que la solicitud debe estar debidamente justificada.
        </p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="matricula" class="pb-4 flex justify-center text-primary-900">MATRICULA</h3>
      <Dropdown
        title="¿Cuándo debo realizar la matrícula académica ?"
        link="https://www.facebook.com/people/FIET-Facultad-de-Ingenier%C3%ADa-Electr%C3%B3nica-y-Telecomunicaciones-Unicauca/100041630904496/"
        textancle="Página de Facebook FIET"
        isActive
        label="ir a Página de Facebook FIET"
      >
        <p>
          Los plazos para realizar la matrícula académica para estudiantes regulares se publican semestralmente en el
          calendario de actividades, disponible en la página de Facebook del programa. Además, los estudiantes deben
          revisar su correo institucional, donde se les informará sobre el día y la hora específicos para realizar su
          matrícula.
        </p>
      </Dropdown>
      <Dropdown title="¿Qué debo hacer si quiero cambiar de pensum?" link="" textancle="" isActive label="">
        <p>
          Los estudiantes que deseen cambiar de pensum deben redactar una carta formal dirigida al coordinador del
          programa y entregarla en la oficina de coordinación o por correo electrónico. Posteriormente el coordinador
          evaluará la solicitud y comunicará la decisión por escrito al estudiante. En caso de aprobación, se detallarán
          los pasos a seguir para el cambio de pensum. En caso de denegación, se explicarán las razones. Se recomienda
          consultar previamente con el coordinador, cumplir con todos los requisitos, presentar la solicitud con
          anticipación y conservar copias de la documentación.
        </p>
      </Dropdown>
      <Dropdown
        title="¿Qué sucede si no realizo la matrícula académica en el plazo establecido?"
        link=""
        textancle=""
        isActive
        label=""
      >
        <p>
          Si el estudiante no ha realizado la matrícula académica, deberá contactar a la DARC o al coordinador del
          programa para verificar la disponibilidad de cupos en las asignaturas que requiere cursar en ese semestre. En
          caso de haber cupos disponibles, se podrá realizar la matrícula solo de dichas materias. De lo contrario, el
          estudiante deberá esperar hasta el próximo semestre para matricularse.
        </p>
      </Dropdown>

      <Dropdown
        title="¿Cómo genero el recibo de matrícula financiera?"
        link="https://simca.unicauca.edu.co/reciboMatricula/"
        textancle="Recibos de matrícula"
        isActive
        label="ir a recibos de matrícula"
      >
        <p>Para realizar la matrícula financiera, el estudiante debe realizar los siguientes pasos:</p>
        <List>
          Esperar a que la Universidad del Cauca active la opción de matrícula financiera en el Sistema Integrado de
          Matrícula y Control Académico (SIMCA). La fecha de habilitación se comunica por los canales oficiales de la
          universidad.
        </List>
        <List>
          Una vez habilitada la opción en SIMCA, el estudiante debe ingresar al sistema y calcular el valor de su
          matrícula financiera. El sistema le mostrará el total a pagar, desglosado por conceptos.
        </List>
        <List>
          El estudiante deberá leer y aceptar los términos y condiciones de la matrícula financiera. Estos términos
          establecen los derechos y obligaciones del estudiante en relación con el pago de la matrícula
        </List>
        <List>
          Generar recibo de pago que contendrá el valor total a pagar, la fecha límite de pago y los datos bancarios
          para realizar la consignación.
        </List>
        <p class="pt-4">Para descargar el recibo existen dos opciones:</p>
        <List> Ingresando a SIMCA en matricula financiera </List>
        <List>
          En la página web de la Universidad del Cauca, existe una sección dedicada a <strong
            >Recibos de matrícula</strong
          >. Allí, el estudiante podrá ingresar su número de identificación y encontrar todos los recibos de matrícula
          que se han generado a su nombre.
        </List>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son las formas de pago disponibles de la matrícula financiera?"
        link=""
        textancle=""
        isActive
        label=""
      >
        <p>
          La Universidad del Cauca ofrece a sus estudiantes diversas modalidades para realizar el pago de la matrícula
          financiera las cuales son:
        </p>
        <List>
          Pago en efectivo en bancos Popular, Davivienda o de Occidente (presentando el recibo generado en el SIMCA).
        </List>
        <List> Pago con tarjeta de crédito o débito en bancos Popular, Davivienda, de Occidente o Juguemos. </List>
        <List>
          Pago por PSE se realiza directamente en el SIMCA, siguiendo el proceso indicado en la opción "Pagar por PSE"
          dentro de la sección de matrícula financiera.
        </List>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="reingreso" class="pb-4 flex justify-center text-primary-900">REINGRESO</h3>
      <Dropdown
        title="¿Qué debo hacer si quiero volver a la universidad después de haberme retirado?"
        link="/formatos-doc/reingreso.docx"
        textancle="Formato PM-FO-4-FOR-17"
        isActive
        label="ir a fromato PM-FO-4-FOR-17"
      >
        <p>
          Para solicitar el reingreso al programa de Ingeniería Electrónica y Telecomunicaciones debes realizar los
          siguientes pasos:
        </p>
        <List>
          Diligenciar y firmar formato de solicitud de reingreso <strong>PM-FO-4-FOR-17</strong> con sus datos personales:
          nombre, cédula, código, correo electrónico, dirección, programa, número de celular.
        </List>
        <List>
          Solicitar al correo Maryan Natalia Salazar <strong>marysalazar@unicauca.edu.co</strong> el recibo de pago para
          paz y salvo universitario ($12.000), indicando nombre completo y número de documento de identidad. El cual se debe
          cancelar por cualquiera de los medios de pago acreditados por la universidad.
        </List>
        <List>
          Solicitud del paz y salvo universitario para ello se debe dirigir a las diferentes divisiones y por ultima a
          la división financiera, el formato lo encuentra en Lvmen en la página institucional:
          <a
            class="font-bold text-primary-500 border-b-2 border-b-primary-500"
            target="_blank"
            href="http://facultades.unicauca.edu.co/prlvmen/listadeformatos/solicitud-de-paz-y-salvo-universitario"
            >http://facultades.unicauca.edu.co/prlvmen/listadeformatos/solicitud-de-paz-y-salvo-universitario
          </a>
        </List>
        <List>
          Obtenido el paz y salvo, debe entregarlo en la decanatura de la facultad con el formato de solicitud. Recuerde
          que el plazo fijado para la entrega de los documentos relacionados se encuentra en el “Calendario académico de
          la FIET”.
        </List>
        <List>
          Una vez recibida la documentación, se procederá al trámite de la solicitud con el coordinador del programa.
          Una vez resuelta la solicitud, la señora Olga Córdoba, desde el correo: <strong
            >ocordoba@unicauca.edu.co</strong
          > , notificará al estudiante y a DARCA de la resolución para la activación del estudiante en el sistema de gestión
          académica, en el caso de ser aprobado el reingreso.
        </List>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los plazos para solicitar reingreso al programa de Ingeniería Electrónica y Telecomunicaciones?"
        link="https://www.facebook.com/people/FIET-Facultad-de-Ingenier%C3%ADa-Electr%C3%B3nica-y-Telecomunicaciones-Unicauca/100041630904496/"
        textancle="Página de Facebook FIET"
        isActive
        label="ir a Página de Facebook FIET"
      >
        <p>
          Los plazos para solicitar el reingreso al programa se publican cada semestre en el calendario de actividades
          de la página de Facebook. Es fundamental realizar la solicitud el semestre previo al que deseas retomar tus
          estudios.
        </p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="modalidades" class="pb-4 flex justify-center text-primary-900">MODALIDADES DE GRADO</h3>
      <Dropdown
        title="¿Cuáles son las modalidades de grado que ofrece el programa?"
        link="/curriculum-pages/degree-modalities"
        textancle="Modalidades de Grado"
        isActive
        label="ir a modalidades de grado"
      >
        <p>Las modalidades de grado que ofrece el programa de Ingeniería Electrónica y Telecomunicaciones son:</p>
        <List>
          <strong>Práctica Profesional:</strong> En la cual el estudiante se integra en el mundo laboral y desarrolla un
          proyecto de alto impacto en una empresa o institución, poniendo en práctica sus conocimientos y adquiriendo experiencia
          real.
        </List>
        <List>
          <strong>Trabajo de Investigación:</strong> En la cual el estudiante escoge el área de interés y realiza una investigación
          innovadora y rigurosa que aporte conocimiento original a la Ingeniería Electrónica y Telecomunicaciones.
        </List>
        <List>
          <strong>Plan Coterminal:</strong> En la cual el estudiante cursa asignaturas de maestría una vez ha aprobado el 80 % del
          plan de estudios de pregrado. Para graduarse, debe aprobar los créditos definidos y cumplir los requisitos establecidos
          por la Facultad.
        </List>
        <p class="pt-2">
          Para más información consulta la sección <strong>Modalidades de grado </strong> en el plan de estudios
        </p>
      </Dropdown>
  
      <Dropdown
        title="¿Puedo cambiar de modalidad de grado?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuándo paso documentación para el anteproyecto de trabajo de grado?"
        link=""
        textancle=""
        isActive
        label=""
      >
        <p>
          La entrega de la documentación para el anteproyecto de trabajo de grado se realiza una vez finalizado el mismo
          y dentro del lapso del semestre en curso.
        </p>
        <p class="pt-4">
          El proceso consiste en que el director envíe el anteproyecto al comité del programa para su asignación a
          evaluadores, quienes lo revisarán y enviarán sus correcciones. Una vez incorporadas estas correcciones, se
          obtienen los formatos de aprobación tanto de los evaluadores como del comité del programa. Finalmente, el
          director envía la documentación completa para emitir la resolución de anteproyecto aprobado.
        </p>
      </Dropdown>
    </Layout2>
  </section>
  <Banner title="EMPRESARIOS" image="bg-banner-businessmen" />
  <Layout2>
    <Dropdown
      title="¿Qué hacer si quieres que alguno de nuestros estudiantes se vincule a tu empresa?"
      link="https://www.unicauca.edu.co/versionP/pregrado"
      textancle="Admisiones"
      isActive
      label="ir a la página de admisiones de la Universidad del Cauca"
    />
  </Layout2>
</Layout>
