---
import Layout from "../component/layout.astro";
---

<Layout pathname="/questions" title="Preguntas Frecuentes">
  <section class="grid justify-center">
    <header>
      <h2 class="text-2xl font-bold mb-4">Aspirantes</h2>
    </header>
  </section>
  <section>
    <header class="grid justify-center">
      <h2 class="text-2xl font-bold mb-4">Estudiantes</h2>
    </header>
  </section>
</Layout>
