---
import AnchorNav from "../component/all-pages/anchor-nav.astro";
import Banner from "../component/all-pages/banner.astro";
import List from "../component/all-pages/list.astro";
import Dropdown from "../component/curriculum-page/dropdown.astro";
import Layout from "../component/layouts/layout.astro";
import Layout2 from "../component/layouts/layout2.astro";
import Line from "../component/all-pages/line.astro";
const anchors = [
  { href: "#homologaciones", title: "HOMOLOGACIONES" },
  { href: "#pasantias", title: "PASANTIAS" },
  { href: "#cancelaciones", title: "CANCELACIONES" },
  { href: "#matricula", title: "MATRÍCULA" },
  { href: "#reingreso", title: "REINGRESO" },
  { href: "#modalidades", title: "MODALIDADES DE GRADO" },
];
---

<Layout pathname="/questions" title="Preguntas Frecuentes">
  <Banner title="ASPIRANTES" image="bg-banner-applicants" />
  <Layout2>
    <Dropdown
      title="¿Cómo puedo inscribirme en el programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca?"
      link="https://www.unicauca.edu.co/versionP/pregrado"
      textancle="Admisiones"
      isActive
      label="ir a la página de admisiones de la Universidad del Cauca"
    >
      <p>
        Para inscribirte al programa de ingeniería electrónica y telecomunicaciones, debes estar pendiente de las fechas
        de admisión de la universidad del cauca. Es obligación del Aspirante leer toda la información que se publique en
        las guías y manuales de este portal web y demás sistemas de información antes de realizar cada una de las etapas
        del proceso de admisión, dado que el mal diligenciamiento de la información u omisión en los procedimientos
        puede llevar a la exclusión del proceso o pérdida del cupo. Para más información dar clic en el enlace.
      </p>
    </Dropdown>
    <Dropdown
      title="¿Cuáles son los requisitos de inscripción para el programa?"
      link="https://www.unicauca.edu.co/versionP/documentos/acuerdos/acuerdo-acad%C3%A9mico-013-de-2018-por-medio-del-cual-se-reglamenta-el-proceso-de-inscripci%C3%B3n-admisi%C3%B3n--0"
      textancle="Reglamentación del proceso de Inscripción"
      isActive
      label="ir a la página de Reglamentación del proceso de Inscripción"
    >
      <p>
        Para ingresar al programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca debe tener
        en cuenta los requisitos de inscripción generales a la Universidad los cuales son:
      </p>
      <List>
        Haber presentado el Examen ICFES SABER 11° a partir del segundo periodo del año 2012 y tener un puntaje total,
        igual o superior a 160 puntos para los programas de Pregrado-Popayán y de 150 puntos para los programas
        ofrecidos por el Centro de Regionalización.
      </List>
      <List>Acreditar la condición de bachiller en el momento que la Universidad lo requiera.</List>
      <List>
        Realizar el registro en el aplicativo de inscripción previsto en la página web de la Universidad, consignando en
        forma veraz y auténtica, la información allí requerida, previa aceptación de términos y condiciones.
      </List>
      <List>
        Realizar el pago de los derechos pecuniarios establecidos por la Universidad como derechos de inscripción.
      </List>
      <List>
        Cumplir con los requisitos establecidos en la norma universitaria que regula el proceso de inscripción.
      </List>
    </Dropdown>
    <Dropdown
      title="¿En caso de ser admitido qué documentos o certificados académicos se deben proporcionar como parte de la solicitud de admisión?"
      link="https://www.unicauca.edu.co/versionP/sites/default/files/files/DocumentosMatr%C3%ADculaPregradV7.docx"
      textancle="Formato para Admisiones"
      isActive
      label="Descargar el Formato para Admisiones"
    >
      <p>Los documentos o certificados académicos que debe proporcionar son:</p>
      <List>Una (1) fotografía reciente, tamaño 3x4 cm.</List>
      <List>
        Fotocopia legible del documento de identidad (Cédula, tarjeta de identidad, contraseña, cédula de extranjería),
        tamaño normal.
      </List>
      <List>
        Recibo original de energía del mes inmediatamente anterior, del lugar de residencia de los padres o tutores, con
        indicación del estrato. Para sitios no estratificados se tendrá en cuenta el reporte del SISBEN.
      </List>
      <List>Fotocopia del diploma de bachiller que incluya fecha de grado legible. ☐</List>
      <List>
        Constancia original del valor pagado por pensión en el grado once, expedida por el Rector o Tesorero del
        colegio. (Nota importante: Los aspirantes que no pagaron ningún valor por concepto de pensión deben presentar la
        constancia original que así lo certifique)
      </List>
      <List>Copia de la tarjeta de resultados del examen ICFES (SABER 11).</List>
      <List>Si votó en las últimas elecciones, anexar fotocopia de certificado electoral.</List>
      <List>Fotocopia del carné o certificación de salud.</List>
      <List>Reporte de resultados de clasificación SISBEN IV.</List>
      <p>
        Si a la fecha establecida en el calendario de admisiones para recepción de documentos – requisitos de matrícula:
        admitidos primera lista y aspirantes en lista de espera, no ha obtenido su diploma de bachiller, debe tramitar
        ante el colegio, certificado donde se manifieste que ya aprobó el grado once y sólo tiene pendiente la ceremonia
        de grado.
      </p>
    </Dropdown>
  </Layout2>
  <Banner title="ESTUDIANTES" image="bg-banner-students" />
  <AnchorNav list={anchors} />
  <section>
    <Layout2>
      <h3 id="homologaciones" class="pb-4 flex justify-center text-primary-900">HOMOLOGACIONES</h3>
      <Dropdown
        title="¿Cómo puedo solicitar una homologación?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p>
          Para solicitar una homologación de asiganturas debes tener claro que el proceso consta de los siguientes pasos
        </p>
        <List
          >Descarga y completa el formato PM-FO-4-PR-FOR-22, anexando el contenido programático y el certificado de
          calificaciones.</List
        >
        <List> Entrega la solicitud en la Secretaría General para revisar si cumple con los requisitos. </List>
        <List>
          La Secretaría General envía la solicitud al coordinador del programa, quien revisa los contenidos
          programáticos, créditos y requisitos. Si se aprueba, el coordinador firma el formato y lo entrega nuevamente a
          la Secretaría General; si no, se informa al estudiante sobre la no aprobación.
        </List>
        <List>
          Posteriormente la solicitud llega Consejo de Facultad, donde se revisa y aprueba mediante una resolución.
        </List>
        <List> El Decano ratifica o niega la decisión del Consejo y expide la resolución. </List>
        <List>
          La Secretaría de Facultad notifica al estudiante la resolución y entrega una copia. El estudiante debe
          notificarse en la Secretaría General antes del periodo de matrículas.
        </List>
        <List>
          Si el estudiante no se notifica, la resolución se publicará. Luego, se enviará una copia al
          proceso de Admisiones, Registro y Control Académico para el trámite correspondiente.
        </List>
      </Dropdown>
      <Dropdown
        title="¿Cuánto tiempo tarda el proceso de homologación?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="pasantias" class="pb-4 flex justify-center text-primary-900">PASANTIAS</h3>
      <Dropdown
        title="¿Cuál es la diferencia entre pasantía y práctica profesional?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los requisitos para realizar una pasantía?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los pasos para realizar una pasantía empresarial?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuánto tiempo dura una pasantía?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="cancelaciones" class="pb-4 flex justify-center text-primary-900">CANCELACIONES</h3>
      <Dropdown
        title="¿Qué debo hacer si quiero cancelar una materia?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los plazos para cancelar una materia?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Qué debo hacer si quiero cancelar semestre?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los plazos para cancelar semestre?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="matricula" class="pb-4 flex justify-center text-primary-900">MATRICULA</h3>
      <Dropdown
        title="¿Cuándo debo realizar la matrícula académica ?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Qué debo hacer si quiero cambiar de pensum??"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Qué sucede si no realizo la matrícula académica en el plazo establecido?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Qué becas o exenciones ofrece la universidad para el pago de la matrícula?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cómo genero el recibo de matrícula financiera?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son las formas de pago disponibles de la matrícula financiera?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="reingreso" class="pb-4 flex justify-center text-primary-900">REINGRESO</h3>
      <Dropdown
        title="¿Qué debo hacer si quiero volver a la universidad después de haberme retirado?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuando puedo solicitar reingreso al programa de Ingeniería Electrónica y Telecomunicaciones?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los plazos para solicitar el reingreso?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Qué sucede si no solicito el reingreso dentro del plazo establecido?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
    </Layout2>
    <Line color="bg-secondary-400" />
    <Layout2>
      <h3 id="modalidades" class="pb-4 flex justify-center text-primary-900">MODALIDADES DE GRADO</h3>
      <Dropdown
        title="¿Cuáles son las modalidades de grado que ofrece el programa?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cómo se elabora un convenio específico para práctica profesional?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuáles son los requisitos para cada modalidad de grado?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Puedo cambiar de modalidad de grado?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
      <Dropdown
        title="¿Cuándo paso documentación para el anteproyecto de trabajo de grado y cuanto demora?"
        link="https://www.unicauca.edu.co/versionP/pregrado"
        textancle="Más Información"
        isActive
        label="ir a más información"
      >
        <p></p>
      </Dropdown>
    </Layout2>
  </section>
  <Banner title="EMPRESARIOS" image="bg-banner-businessmen" />
  <Layout2>
    <Dropdown
      title="¿Qué hacer si quieres que alguno de nuestros estudiantes se vincule a tu empresa?"
      link="https://www.unicauca.edu.co/versionP/pregrado"
      textancle="Admisiones"
      isActive
      label="ir a la página de admisiones de la Universidad del Cauca"
    />
  </Layout2>
</Layout>
