---
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
---

<footer class="relative">
  <section class="grid lg:grid-cols-2 md:grid-cols-2 text-white bg-footer bg-cover bg-center min-h-[200px] p-8 gap-2">
    <div class="z-10">
      <h5 class="text-2xl font-semibold mb-2">UBICACIÓN Y CONTACTO</h5>
      <p>● Programa de Ingeniería Electrónica y Telecomunicaciones.</p>
      <p>● Correo: coordelectronica@unicauca.edu.co</p>
      <p>● Carrera 2 #4N-140, Popayán, Cauca.</p>
      <p>● Edificio de ingenierías, sector Tulcán, frente al CDU (Centro Deportivo Universitario - Unicauca).</p>
    </div>
    <section class="flex lg:flex-row flex-col z-10 gap-8 md:text-center font-semibold justify-center">
      <div>
        <h2>FIET</h2>
        <a href="https://www.facebook.com/profile.php?id=100041630904496" target="_blank"><Facebook /></a>
      </div>
      <div>
        <h3>Dto de Telemática</h3>
        <div class="flex">
          <a href="https://www.facebook.com/telematicaunicauca" target="_blank"><Facebook /></a>
          <a class="p-3" href="https://instagram.com/telematicaunicauca?igshid=NzJkYm10Nnh2bGpz" target="_blank"
            ><Instagram /></a
          >
        </div>
      </div>
      <div>
        <h3>Dto de Telecomunicaciones</h3>
        <div class="flex">
          <a href="https://www.facebook.com/deptoteleco.unicauca" target="_blank"><Facebook /></a>
          <a class="p-3" href="https://instagram.com/dtelecounicauca?igshid=MXVpYTdkMGFuZzc2cg==" target="_blank"
            ><Instagram /></a
          >
        </div>
      </div>
    </section>
  </section>
  <section class="absolute inset-0 bg-primary-600/80"></section>
</footer>
