---
import Header from "./header.astro";
import Footer from "./footer.astro";

const { title, pathname } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/unicauca.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="PIET Unicauca" />
    <meta
      property="og:description"
      content="Pagina informativa del programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca"
    />
    <meta property="og:image" content="/fiet-piet.webp" />
    <link rel="canonical" href="https://piet-unicauca.vercel.app/" />
    <title>{title}</title>
  </head>
  <body>
    <Header pathname={pathname} />
    <main class="flex flex-col gap-12 px-2  py-8 md:px-8 md:py-12 lg:px-8 lg:py-12 container mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
