---
import CheckPointIcon from "../icons/check-point-icon.astro";
---
<section class="grid grid-flow-col p-4">
  <div class="flex flex-col">
    <div class="stroke-primary-500 flex flex-none gap-4">
      <div class="flex flex-none">
        <CheckPointIcon />
      </div>
      <slot />
    </div>
  </div>
</section>
