---
import ArrowRigthIcon from "../icons/arrow-rigth-icon";
import Card from "../init-page/card.astro";
---

<section class="grid grid-cols-card">
  <div class="flex flex-none stroke-primary-500 items-center"><ArrowRigthIcon /></div>
  <section class="grid grid-col items-center ">
    <section class="flex overflow-x-auto p-2 h-60">
      <article class="container relative flex-none  rounded-lg m-4">
        <section class="absolute border-4 w-full">
          <h3>Semillero</h3>
          <p>
            Formar profesionales con visión empresarial y capacidad para identificar nichos de mercado relacionados con
            las necesidades de su entorno.
          </p>
        </section>
      </article>
      <article class="container relative flex-none rounded-lg m-4">
        <section class="absolute w-full">
          <Card title="semilleros" />
        </section>
      </article>
      <article class="container relative flex-none rounded-lg m-4">
        <section class="absolute w-full">
          <Card title="semilleros" />
        </section>
      </article>
    </section>
    <section class="flex justify-center gap-2">
      <input type="radio" name="radio-btn" id="radio1" />
      <input type="radio" name="radio-btn" id="radio2" />
      <input type="radio" name="radio-btn" id="radio3" />
      <input type="radio" name="radio-btn" id="radio4" />
    </section>
    
  </section>
  <div class="flex flex-none stroke-primary-500 items-center"><ArrowRigthIcon /></div>
</section>
