---
const{path, title, isActive, label}=Astro.props
---

<a
href={path}
aria-label={label}
target={isActive ? "_blank" : null}
class="text-center text-2xl font-bold border-b-4 border-secondary-500"
>
{title}
</a>