---
const { title, image } = Astro.props;
import clsx from "clsx";
---

<div class="container rounded-md overflow-hidden items-center">
  <div class="relative">
    <div class={clsx("flex items-center justify-center bg-cover bg-center h-[100px]", image)}>
      <h2 class="lg:text-5xl text-center items-center text-white font-semibold z-10">
        {title}
      </h2>
    </div>
    <div class="absolute inset-0 bg-primary-600/40"></div>
  </div>
</div>
