---
const { title, path } = Astro.props;
---

<div class="grid grid-rows-card border-4 border-primary-400 rounded-md gap-6 p-4">
  <div class="flex justify-center">
    <h2 class="text-center text-2xl font-bold border-b-4 border-secondary-500">
      {title}
    </h2>
  </div>
  <p>
    <slot />
  </p>
  <a href={path} class="border-4 border-secondary-500 rounded-xl p-2 font-bold text-primary-500 mx-auto">
    Mas Informacion
  </a>
</div>
