---
import clsx from "clsx";

const { title, reverse, image, path } = Astro.props;
---

<div class="container mx-auto p-6">
  <div
    class={clsx(
      "flex justify-between gap-2",
      reverse ? "flex-row-reverse" : "flex-row"
    )}
  >
    <div class="flex-1 flex flex-col items-center justify-center">
      <a class="border-b-2 border-primary-600 text-2xl" href={path}>{title}</a>
      <h2 class="text-base p-4">
        <slot />
      </h2>
    </div>
    <div class="flex-1 justify-end">
      <img height="500px" width="500px" src={image} />
    </div>
  </div>
</div>
