<footer class="flex flex-col gap-2">
  <div class="relative">
    <div class=" flex flex-col bg-hero-pattern bg-cover bg-center h-[200px]">
      <h2 class="px-10 text-white font-semibold text-2xl z-10">
        UBICACION Y CONTACTO
      </h2>
      <div class="px-10 py-2 text-white font-semibold text-base z-10">
        <h2>Programa de Ingeniería Electrónica y Telecomunicaciones.</h2>
        <h2>Correo electrónico: coordelectronica@unicauca.edu.co</h2>
        <h2>
          Edificio de ingenierías, sector Tulcán, frente al CDU (Centro
          Deportivo Universitario - Unicauca).
        </h2>
        <h2 class="text-white font-semibold text-base">
          Carrera 2 #4N-140, Popayán, Cauca.
        </h2>
      </div>
    </div>
    <div class="absolute inset-0 bg-primary-600 opacity-50"></div>
  </div>
</footer>
