---
import LogoUnicauca from "./logos/logo-unicauca.astro";
import NavLink from "./nav-link.astro";
---

<header class="flex flex-col bg-primary-500">
  <div class="container mx-auto flex flex-wrap justify-center items-center gap-4 p-4">
    <LogoUnicauca />
    <div class="text-white flex flex-col">
      <h1 class="font-bold text-xl max-w-xs">PROGRAMA DE INGENIERÍA ELECTRONICA Y TELECOMUNICACIONES</h1>
      <h2 class="text-base">FIET UNICAUCA</h2>
    </div>
  </div>
  <nav class="lg:container lg:mx-auto lg:flex lg:justify-center">
    <div class="flex flex-col lg:flex-row flex-wrap lg:rounded-tl-md lg:rounded-tr-md overflow-hidden">
      <NavLink href="/" name="Inicio" />
      <NavLink href="/about" name="Acerca del Programa" />
      <NavLink href="/curriculum" name="Plan de Estudios" />
      <NavLink href="/professional" name="Perfil Profesional" />
      <NavLink href="/questions" name="Preguntas Frecuentes" />
    </div>
  </nav>
</header>
