<header class="flex flex-col gap-2 bg-blue-900" >
  <div class="container mx-auto flex flex-row justify-center gap-2" >
    <img src="/logo_Unicauca.png" width="100px" height="100px"/>
    <div class="flex flex-col justify-center ">
        <h1 class="text-white">Facultad de ingenieria Electronica y Telecomunicaciones</h1>
        <h2 class="text-white">Programa de ingenieria Electronica y Telecomunicaciones</h2>
    </div>
  </div>
  <nav class="container mx-auto bg-blue-500 gap-6 flex flex-row"  >
    <a href="/">Acerca del Programa</a>
    <a href="/about">Plan de Estudios</a>
    <a href="/professional">Perfil Profesional</a>
  </nav>
</header>
