---
import LogoUnicauca from "./logo-unicauca.astro";
import NavLink from "./nav-link.astro";
---

<header class="flex flex-col gap-2 bg-primary-500">
  <div
    class="container mx-auto flex flex-wrap flex-row justify-center gap-8 p-4"
  >
    <LogoUnicauca />
    <div class="flex flex-col justify-center text-2xl max-w-xl">
      <h1 class="text-white">
        FIET - Programa de ingenieria Electronica y Telecomunicaciones
      </h1>
    </div>
  </div>
  <nav class="max-w-4xl container mx-auto hidden md:flex justify-center">
    <div class="flex flex-wrap">
      <NavLink href="/" name="Inicio" />
      <NavLink href="/about" name="Acerca del Programa" />
      <NavLink href="/curriculum" name="Plan de Estudios" />
      <NavLink href="/professional" name="Perfil Profesional" />
      <NavLink href="/questions" name="Preguntas Frecuentes" />
    </div>
  </nav>
  <nav class="md:hidden">
    <div class="flex flex-col">
      <NavLink href="/" name="Inicio" />
      <NavLink href="/about" name="Acerca del Programa" />
      <NavLink href="/curriculum" name="Plan de Estudios" />
      <NavLink href="/professional" name="Perfil Profesional" />
      <NavLink href="/questions" name="Preguntas Frecuentes" />
    </div>
  </nav>
</header>
