---
const{image, text1, text2}=Astro.props
---
<div class="p-6">
    <img src={image} height="50px" width="50px" />
    <h2 class="font-bold text-lg">{text1}</h2>
    <h2 class="font-semibold text-base">{text2}</h2>
</div>