---
const { title, description } = Astro.props;
---

<div class="flex items-center gap-4 w-[200px] md:w-[230px]">
  <div class="flex items-center justify-center w-[50px]">
    <slot />
  </div>
  <div>
    <a href="#" class="font-bold text-base md:text-xl">{title}</a>
    <p>{description}</p>
  </div>
</div>
