---
import CheckIcon from "../icons/check-icon.astro";
const { title, description } = Astro.props;
---

<article class="grid grid-flow-col gap-4">
  <CheckIcon />
  <div>
    <h4 class="text-primary-900">{title}</h4>
    <p>
      <slot />
    </p>
  </div>
</article>
