---
import Goalds from "../react/goalds";
import ArrowRigthIcon from "../icons/arrow-rigth-icon";
---
<section class="grid grid-flow-col p-2">
  <div class="flex flex-col">
    <div class="stroke-primary-500 flex flex-none gap-2">
      <div class="flex flex-none">
        <ArrowRigthIcon />
      </div>
      <slot />
    </div>
  </div>
</section>
