---
import Header from "../all-pages/header.astro";
import Footer from "../all-pages/footer.astro";
const { title, pathname } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/unicauca.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Pagina informativa del programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca"
    />
    <meta property="og:title" content="PIET Unicauca" />

    <meta
      property="og:description"
      content="Pagina informativa del programa de Ingeniería Electrónica y Telecomunicaciones de la Universidad del Cauca"
    />
    <meta property="og:image" content="/images/history.webp" />
    <meta property="image" content="/images/history.webp" />
    <link rel="canonical" href="https://piet-unicauca.vercel.app/" />
    <title>{title}</title>
  </head>
  <body>
    <Header pathname={pathname} />
    <main class="flex flex-col gap-12 px-2 py-8 md:px-8 md:py-12 lg:px-8 lg:py-12 container mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  h1 {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
  }

  h2 {
    color: white;
  }

  h3 {
    font-size: 1.5rem; /* t */
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
    font-size: 1 rem; /*  text-base  */
  }

  @media (min-width: 768px) {
    h4 {
      font-size: 1.2rem; /* md:text-xl  */
    }
  }
  h5 {
    font-weight: 600; /* Equivalente a font-bold en Tailwind CSS */
    font-size: 1 rem; /* Equivalente a text-base en Tailwind CSS */
  }

  @media (min-width: 768px) {
    h5 {
      font-size: 1.2rem; /* Equivalente a md:text-xl en Tailwind CSS */
    }
  }
  h6 {
    text-align: center; /* Equivalente a text-center en Tailwind CSS */
    font-size: 1rem; /* Tamaño base de texto (puedes ajustar según tus necesidades) */
    font-weight: bold; /* Equivalente a font-bold en Tailwind CSS */
    color: #183b6b; /* Equivalente a text-primary-500 en Tailwind CSS */
  }
  @media (min-width: 640px) {
    h6 {
      font-size: 1.125rem;
      color: #183b6b; /* Equivalente a sm:text-lg en Tailwind CSS */
    }
  }

  @media (min-width: 1024px) {
    h6 {
      font-size: 1.5rem;
      color: #183b6b; /* Equivalente a lg:text-2xl en Tailwind CSS */
    }
  }
</style>
