---
import Layout from "../../component/layouts/layout.astro";
import Banner from "../../component/all-pages/banner.astro";
import List from "../../component/all-pages/list.astro";
import ElectivesCard from "../../component/curriculum-page/electives-card.astro";
import Layout2 from "../../component/layouts/layout2.astro";
import LayoutCol2 from "../../component/layouts/layout-col-2.astro";
import AnchorNav from "../../component/all-pages/anchor-nav.astro";
import BreadCrumbs from "../../component/curriculum-page/bread-crumbs.astro";
const anchors = [
  { href: "#telecomunicaciones", title: " DTO DE TELECOMUNICACIONES" },
  { href: "#telematica", title: "DTO DE TELEMÁTICA" },
  { href: "#otros", title: "OTROS DEPARTAMENTOS" },
];
---

<Layout pathname="/curriculum" title="Electivas">
  <section>
    <Banner title="ELECTIVAS" image="bg-banner-elective" />
    <Layout2>
      <section class="lg:mx-40">
        <BreadCrumbs pathname="/curriculum" title="Electivas" path="/curriculum-pages/electives" />
        <p>
          Para completar con éxito el proceso de matrícula para una electiva en el programa de Ingeniería Electrónica y
          Telecomunicaciones, es fundamental que tengas en cuenta los siguientes aspectos:
        </p>

        <List>
          Antes de matricularte en la electiva de tu elección, debes realizar una preinscripción. El enlace para esta
          preinscripción se habilita al final de cada semestre académico. Para obtener este enlace, te recomendamos
          seguir las redes sociales de la Facultad de Ingeniería Electrónica y Telecomunicaciones (FIET), donde también
          encontrarás videos explicativos de los docentes que detallan las temáticas que abordarán en cada electiva.
        </List>
        <List>
          Es importante destacar que no se asignarán cupos de electivas a estudiantes que tengan pendientes asignaturas
          previas a aquellas definidas en la malla curricular hasta el sexto semestre. Asegúrate de haber cumplido con
          los prerrequisitos académicos antes de intentar matricularte en una electiva.
        </List>
        <List>
          No se asignarán cupos a estudiantes que no hayan completado el proceso de inscripción en la electiva. Por lo
          tanto, es esencial que sigas todos los pasos indicados para inscribirte en la electiva que desees cursar.
        </List>
        <List>
          Ten en cuenta que no se permiten cambios de electivas una vez realizada la matrícula. Los cupos solo se
          asignan a los estudiantes que han sido admitidos y quedaron en lista de espera, por lo que debes estar seguro
          de la elección de tu electiva antes de inscribirte.
        </List>
        <p>
          Las electivas a las cuales se puede inscribir cualquier estudiante del programa de Ingeniería Electrónica y
          Telecomunicaciones corresponden a los siguientes departamentos:
        </p>
      </section>
      <section class="pt-4">
        <AnchorNav list={anchors} />
      </section>
    </Layout2>
  </section>
  <div id="telecomunicaciones">
    <Banner title="ELECTIVAS DEPARTAMENTO DE TELECOMUNICACIONES" image="bg-banner-about" />
  </div>
  <LayoutCol2>
    <ElectivesCard
      title="Sistemas Inalámbricos en la Comunicación de Datos"
      path="https://www.youtube.com/embed/UEHXi2nWerc?si=rocM0Hb7KXfC-ej0"
      isVideo
    >
      ¿Te fascina la idea de conectar al mundo a través de ondas invisibles? Destaca tu creatividad para crear
      soluciones tecnológicas innovadoras. Convierte tu pasión en una carrera exitosa y brillante
    </ElectivesCard>
    <ElectivesCard
      title="Redes de Nueva Generación - NGN"
      path="https://www.youtube.com/embed/Q3vqGAlT5sw?si=Q_euew-AfbZnEftM"
      isVideo
    >
      ¿Sabes hacia dónde están evolucionando las redes de telecomunicaciones y cómo soportan los nuevos servicios y
      plataformas? Si quieres conocer sobre virtualización, SDN, o Machine Learning enfocado a redes de
      telecomunicaciones ¡esta electiva te encantará!
    </ElectivesCard>
    <ElectivesCard
      title="Seguridad en Redes de Información"
      path="https://www.youtube.com/embed/h_hGB0QneEE?si=CmonBkLClo4syq8b"
      isVideo
    >
      ¿Quieres proteger la información de tu organización de las amenazas cibernéticas? La electiva "Seguridad de la
      Información" te enseñará cómo hacerlo, en ella aprenderás sobre las últimas técnicas y medidas de seguridad para
      proteger la información en redes, sistemas y aplicaciones.
    </ElectivesCard>
    <ElectivesCard title="Sistemas de Comunicaciones por Fibra Óptica" path="/electives-doc/ContenidoFibraOptica.pdf">
      ¡Descubre el emocionante mundo de la Electiva de Fibra Óptica! Desde sus fundamentos históricos hasta las
      aplicaciones avanzadas, explorarás la esencia de esta innovadora tecnología. Aprenderás los principios clave de la
      fibra óptica, los estándares de redes GPON, analizarás sistemas ópticos y explorarás la evolución de las redes
      pasivas.
    </ElectivesCard>
    <ElectivesCard
      title="Technologies for Smart Cities"
      path="https://www.youtube.com/embed/nm87VPANFZY?si=Ck8dtdcWL2n14yDH"
      isVideo
    >
      ¿Quieres ser parte del futuro de las ciudades? La electiva "Technologies for Smart Cities" te enseñará cómo las
      tecnologías pueden ayudar a crear ciudades más sostenibles, equitativas y eficientes.
    </ElectivesCard>

    <ElectivesCard
      title="Evolución a Sistemas de Comunicaciones Móviles de 4G: LTE"
      path="https://www.youtube.com/embed/STilGIMlqUE?si=3oKCu0t4PT02s4NL"
      isVideo
    >
      La electiva "Sistemas de Comunicaciones Móviles" te sumergirá en el fascinante mundo de las últimas tecnologías,
      explorando la evolución de las tecnologías móviles, el rendimiento de las redes LTE, arquitecturas y técnicas de
      procesamiento en LTE, y los avances de 4G a 5G en los sistemas de comunicaciones móviles.
    </ElectivesCard>
  </LayoutCol2>
  <div id="telematica">
    <Banner title="ELECTIVAS DEPARTAMENTO DE TELEMÁTICA" image="bg-banner-about" />
  </div>
  <LayoutCol2>
    <ElectivesCard
      title="Desarrollo de Aplicaciones Web"
      path="https://www.youtube.com/embed/Z_JUzKffjzE?si=Dm8DlaArwo6i9nvB"
      isVideo
    >
      ¿Quieres ser parte del futuro de la web? La electiva "Desarrollo de Aplicaciones Web" te enseñará todo lo
      necesario para crear aplicaciones web de alta calidad, incluyendo conceptos fundamentales del desarrollo web,
      gestión de bases de datos, desarrollo front-end y back-end, así como los lenguajes de programación más populares.
      ¡Prepárate para sumergirte en el emocionante mundo del desarrollo web!
    </ElectivesCard>
    <ElectivesCard
      title=" Desarrollo de Aplicaciones para Dispositivos Moviles:"
      path="https://www.youtube.com/embed/NSATdICxO5M?si=nJHY90nKttCNaXMz"
      isVideo
    >
      Explora el fascinante ámbito del desarrollo móvil con la electiva "Desarrollo de Aplicaciones para Dispositivos
      Móviles". Aprende desde los conceptos fundamentales hasta la implementación en plataformas como Android e iOS.
      Descubre tu potencial y abre las puertas a un futuro lleno de posibilidades.
    </ElectivesCard>
    <ElectivesCard
      title="Desarrollo de aplicaciones para sistemas ubicuos"
      path="https://www.youtube.com/embed/yUkR0F_28mE?si=H6m3UTO-bvIhgTTA"
      isVideo
    >
      Te interesa explorar las últimas plataformas de Internet de las cosas (IoT)? La electiva "Plataformas Ubicuas IoT"
      te sumergirá en los conceptos fundamentales de IoT, ofreciendo un análisis exhaustivo de las diversas plataformas
      disponibles y proporcionándote las habilidades necesarias para implementar y gestionar eficazmente plataformas
      IoT.
    </ElectivesCard>
    <ElectivesCard
      title="Arquitectura para el Despliegue de Servicios (ADS)"
      path="https://www.youtube.com/embed/V5HFHGNpvpQ?si=625GKt7l5FGErFQf"
      isVideo
    >
      ¡Descubre el emocionante futuro de las telecomunicaciones con el curso electivo Arquitectura para el Despliegue de
      Servicios! Explora la evolución de los operadores, la arquitectura en la nube y la aplicación de conceptos clave
      en proyectos futuros. ¡No te pierdas la oportunidad de ser parte de la vanguardia tecnológica!
    </ElectivesCard>
    <ElectivesCard
      title="TIC en Salud y Salud Movil"
      path="https://www.youtube.com/embed/KijPm2s-Usk?si=hJ_ispNxfcqC_qd9"
      isVideo
    >
      La electiva "TIC en Salud y Salud Móvil” te enseñará cómo hacerlo, en este curso, aprenderás las raíces históricas
      de las TIC en la salud, las innovaciones más recientes, como la inteligencia artificial para diagnósticos, el
      impacto de las TIC en la atención médica y finalmente la salud móvil y sus aplicaciones
    </ElectivesCard>
  </LayoutCol2>
</Layout>
