---
import Layout from "../../component/all-pages/layout.astro";
import Banner from "../../component/all-pages/banner.astro";
import List from "../../component/all-pages/list.astro";
import ElectivesCard from "../../component/curriculum-page/electives-card.astro";
import Layout2 from "../../component/all-pages/layout2.astro";
import LayoutCol2 from "../../component/all-pages/layout-col-2.astro";
---

<Layout pathname="/curriculum" title="Electivas">
  <Banner title="ELECTIVAS" image="bg-banner-elective" />
  <section>
    <p>
      Para completar con éxito el proceso de matrícula para una electiva en el programa de Ingeniería Electrónica y
      Telecomunicaciones, es fundamental que tengas en cuenta los siguientes aspectos:
    </p>
    <LayoutCol2>
      <List>
        Antes de matricularte en la electiva de tu elección, debes realizar una preinscripción. El enlace para esta
        preinscripción se habilita al final de cada semestre académico. Para obtener este enlace, te recomendamos seguir
        las redes sociales de la Facultad de Ingeniería Electrónica y Telecomunicaciones (FIET), donde también
        encontrarás videos explicativos de los docentes que detallan las temáticas que abordarán en cada electiva.
      </List>
      <List>
        Es importante destacar que no se asignarán cupos de electivas a estudiantes que tengan pendientes asignaturas
        previas a aquellas definidas en la malla curricular hasta el sexto semestre. Asegúrate de haber cumplido con los
        prerrequisitos académicos antes de intentar matricularte en una electiva.
      </List>
      <List>
        No se asignarán cupos a estudiantes que no hayan completado el proceso de inscripción en la electiva. Por lo
        tanto, es esencial que sigas todos los pasos indicados para inscribirte en la electiva que desees cursar.
      </List>
      <List>
        Ten en cuenta que no se permiten cambios de electivas una vez realizada la matrícula. Los cupos solo se asignan
        a los estudiantes que han sido admitidos y quedaron en lista de espera, por lo que debes estar seguro de la
        elección de tu electiva antes de inscribirte.
      </List>
    </LayoutCol2>
  </section>
  <Layout2>
    <Banner title="ELECTIVAS POR DEPARTAMENTO" image="bg-banner-about" />
    <nav class="grid lg:grid-cols-3 sm:grid-col-1 lg:gap-4 justify-items-center p-4">
      <a href="#telecomunicaciones" class="border-b-4 border-secondary-600 font-bold text-base lg:text-xl">
        DTO DE TELECOMUNICACIONES</a
      >
      <a href="#telematica" class="border-b-4 border-secondary-600 font-bold text-base lg:text-xl">
        DTO DE TELEMÁTICA</a
      >
      <a href="#otros" class="border-b-4 border-secondary-600 font-bold text-base lg:text-xl"> OTROS DEPARTAMENTOS</a>
    </nav>
    <article>
      <div class="flex justify-center">
        <h3 id="telecomunicaciones" class="lg:text-2xl md:text-xl text-lg font-bold text-primary-500 text-center p-4">
          DEPARTAMENTO DE TELECOMUNICACIONES
        </h3>
      </div>
      <ElectivesCard
        title="Sistemas Inalámbricos en la Comunicación de Datos"
        path="https://www.youtube.com/embed/UEHXi2nWerc?si=rocM0Hb7KXfC-ej0"
      >
        ¿Te fascina la idea de conectar al mundo a través de ondas invisibles? Destaca tu creatividad para crear
        soluciones tecnológicas innovadoras. Convierte tu pasión en una carrera exitosa y brillante
      </ElectivesCard>
      <ElectivesCard
        title="Redes de Nueva Generación - NGN"
        path="https://www.youtube.com/embed/Q3vqGAlT5sw?si=Q_euew-AfbZnEftM"
      >
        ¿Sabes hacia dónde están evolucionando las redes de telecomunicaciones y cómo soportan los nuevos servicios y
        plataformas? Si quieres conocer sobre virtualización, SDN, o Machine Learning enfocado a redes de
        telecomunicaciones ¡esta electiva te encantará!
      </ElectivesCard>
      <ElectivesCard
        title="Technologies for Smart Cities"
        path="https://www.youtube.com/embed/nm87VPANFZY?si=Ck8dtdcWL2n14yDH"
      >
        ¿Quieres ser parte del futuro de las ciudades? La electiva "Technologies for Smart Cities" te enseñará cómo las
        tecnologías pueden ayudar a crear ciudades más sostenibles, equitativas y eficientes.
      </ElectivesCard>
      <ElectivesCard
        title="Seguridad en Redes de Información"
        path="https://www.youtube.com/embed/h_hGB0QneEE?si=CmonBkLClo4syq8b"
      >
        ¿Quieres proteger la información de tu organización de las amenazas cibernéticas? La electiva "Seguridad de la
        Información" te enseñará cómo hacerlo, en ella aprenderás sobre las últimas técnicas y medidas de seguridad para
        proteger la información en redes, sistemas y aplicaciones.
      </ElectivesCard>
      <ElectivesCard
        title="Evolución a Sistemas de Comunicaciones Móviles de 4G: LTE"
        path="https://www.youtube.com/embed/STilGIMlqUE?si=3oKCu0t4PT02s4NL"
      >
        La electiva "Sistemas de Comunicaciones Móviles" te sumergirá en el fascinante mundo de las últimas tecnologías,
        explorando la evolución de las tecnologías móviles, el rendimiento de las redes LTE, arquitecturas y técnicas de
        procesamiento en LTE, y los avances de 4G a 5G en los sistemas de comunicaciones móviles.
      </ElectivesCard>
    </article>
    <article>
      <div class="flex justify-center p-2">
        <h4 id="telematica" class="lg:text-2xl md:text-xl text-lg font-bold text-primary-500 text-center p-4">
          DEPARTAMENTO DE TELEMÁTICA
        </h4>
      </div>
      <ElectivesCard
        title=" Desarrollo de Aplicaciones para Dispositivos Moviles:"
        path="https://www.youtube.com/embed/NSATdICxO5M?si=nJHY90nKttCNaXMz"
      >
        Explora el fascinante ámbito del desarrollo móvil con la electiva "Desarrollo de Aplicaciones para Dispositivos
        Móviles". Aprende desde los conceptos fundamentales hasta la implementación en plataformas como Android e iOS.
        Descubre tu potencial y abre las puertas a un futuro lleno de posibilidades.
      </ElectivesCard>
      <ElectivesCard
        title="TIC en Salud y Salud Movil"
        path="https://www.youtube.com/embed/KijPm2s-Usk?si=hJ_ispNxfcqC_qd9"
      >
        La electiva "TIC en Salud y Salud Móvil” te enseñará cómo hacerlo, en este curso, aprenderás las raíces
        históricas de las TIC en la salud, las innovaciones más recientes, como la inteligencia artificial para
        diagnósticos, el impacto de las TIC en la atención médica y finalmente la salud móvil y sus aplicaciones
      </ElectivesCard>
      <ElectivesCard
        title="Electiva Plataformas Ubicuas IoT"
        path="https://www.youtube.com/embed/yUkR0F_28mE?si=H6m3UTO-bvIhgTTA"
      >
        Te interesa explorar las últimas plataformas de Internet de las cosas (IoT)? La electiva "Plataformas Ubicuas
        IoT" te sumergirá en los conceptos fundamentales de IoT, ofreciendo un análisis exhaustivo de las diversas
        plataformas disponibles y proporcionándote las habilidades necesarias para implementar y gestionar eficazmente
        plataformas IoT.
      </ElectivesCard>

      <ElectivesCard
        title="Desarrollo de Aplicaciones Web"
        path="https://www.youtube.com/embed/Z_JUzKffjzE?si=Dm8DlaArwo6i9nvB"
      >
        ¿Quieres ser parte del futuro de la web? La electiva "Desarrollo de Aplicaciones Web" te enseñará todo lo
        necesario para crear aplicaciones web de alta calidad, incluyendo conceptos fundamentales del desarrollo web,
        gestión de bases de datos, desarrollo front-end y back-end, así como los lenguajes de programación más
        populares. ¡Prepárate para sumergirte en el emocionante mundo del desarrollo web!
      </ElectivesCard>
    </article>
  </Layout2>
</Layout>
