---
import Layout from "../../component/layouts/layout.astro";
import Banner from "../../component/all-pages/banner.astro";
import List from "../../component/all-pages/list.astro";
import VideoCard from "../../component/all-pages/video-card.astro";
import Layout2 from "../../component/layouts/layout2.astro";
import LayoutCol2 from "../../component/layouts/layout-col-2.astro";
import BreadCrumbs from "../../component/curriculum-page/bread-crumbs.astro";
---

<Layout pathname="/curriculum" title="Énfasis">
  <section>
    <Banner title="ÉNFASIS" image="bg-banner-elective" />
    <Layout2>
      <section class="lg:mx-40">
        <BreadCrumbs pathname="/curriculum" title="Énfasis" path="/curriculum-pages/enphasis" />
        <p>
          Para completar con éxito el proceso de matrícula a una línea de énfasis en el programa de Ingeniería
          Electrónica y Telecomunicaciones, es fundamental que tengas en cuenta los siguientes aspectos:
        </p>
        <div>
          <List>
            Las líneas de énfasis se organizan por departamentos, lo que significa que los estudiantes deben presentar
            una solicitud para ingresar a la Línea de Énfasis 1. Para ello, se utilizará un formulario específicamente
            diseñado para este propósito
          </List>
          <List>
            Dicho formulario estará disponible en las redes sociales del programa y será enviado a la dirección de
            correo electrónico de cada estudiante. Por lo tanto, es crucial que los estudiantes estén atentos a la
            inscripción, ya que, sin completar este proceso, no podrán iniciar su Línea de Énfasis.
          </List>
          <List>
            Una vez que los estudiantes hayan presentado su solicitud, deben mantenerse al tanto de su estado de
            admisión a la Línea de Énfasis. La universidad se encargará de matricular a los estudiantes admitidos en
            estas asignaturas, por lo que dichas asignaturas no aparecerán al momento de realizar la matrícula académica
            por parte del estudiante.
          </List>
        </div>
        <p>
          Una vez el estudiante apruebe la Línea de Énfasis 1, podrán matricularse en las asignaturas posteriores de su
          línea de énfasis de manera normal, junto con las demás materias. Es importante destacar que, al momento de la
          matrícula, los estudiantes deben verificar cuidadosamente que estén inscribiendo las asignaturas
          correspondientes a su Línea de Énfasis para garantizar un progreso académico adecuado.
        </p>
      </section>
    </Layout2>
  </section>
  <section>
    <Banner title="ÉNFASIS DEPARTAMENTO DE TELECOMUNICACIONES" image="bg-banner-about" />
    <Layout2>
      <div class="flex justify-center">
        <h3 class="text-primary-500 text-center p-8">REDES Y SERVICIOS DE TELECOMUNICACIONES</h3>
      </div>
    </Layout2>
    <LayoutCol2>
      <VideoCard
        title="Énfasis I: Análisis y Diseño de Redes de Comunicaciones LAN/WAN"
        path="https://www.youtube.com/embed/8pPxngIUOMo?si=EwRtncgF6AqcZLg4"
      />
      <VideoCard
        title="Énfasis II: Análisis y Diseño de Redes de Comunicaciones Móviles"
        path="https://www.youtube.com/embed/bi-xf3iTo9I?si=YPWp9uKSO99Mk-b6"
      />
      <VideoCard
        title="Énfasis III: Análisis y Diseño de Redes de Comunicaciones IPV4/IPV6"
        path="https://www.youtube.com/embed/rIjqteE3spk?si=C5QEcTLkqBNNQweL"
      />
      <VideoCard
        title="Énfasis IV: Análisis de Tecnologías Emergentes en el Diseño de Redes Inalámbricas. "
        path="https://www.youtube.com/embed/j7QtUeO6CtA?si=rwIEwXrq_KdMXgSk"
      />
    </LayoutCol2>
  </section>
  <section>
    <Banner title="ÉNFASIS DEPARTAMENTO DE TELEMÁTICA" image="bg-banner-about" />
    <Layout2>
      <div class="flex justify-center">
        <h3 class="text-primary-500 text-center p-8">INGENIERÍA DE SISTEMAS TELEMÁTICOS</h3>
      </div>
    </Layout2>
    <LayoutCol2>
      <VideoCard
        title="Énfasis I: Introducción a los Sistemas Telemáticos"
        path="https://www.youtube.com/embed/LQUHrdwSZKU?si=Y92KIWpIuCBujYR_"
      />
      <VideoCard
        title="Énfasis II: Ingeniería de Proyectos (Ambientes de Desarrollo)"
        path="https://www.youtube.com/embed/hsymiloGtaE?si=4AkVWnyE8s-d_3Bn"
      />
      <VideoCard
        title="Énfasis III: Aplicaciones y Servicios Telemáticos"
        path="https://www.youtube.com/embed/JO1lTt1rtJI?si=6iJzRLe1R1e1TthS"
      />
      <VideoCard
        title="Énfasis IV: Aplicaciones y Servicios Telemáticos "
        path="https://www.youtube.com/embed/AY2XnRmHDro?si=UegMdjiLx_YI8u61"
      />
    </LayoutCol2>
  </section>
</Layout>
